<template>
    <div class="game-history">
      <div v-for="match in matchList" :key="match.id" class="info-match" :id="getMatchClass(match)">
            <span>{{ match.left_player_score }}</span>
            <img :src="match.left_player.avatar_file" alt="pp">
            <a v-bind:href="'/user/' + match.left_player.login"><span>{{ match.left_player.username }}</span></a>
            <p> VS </p>
        <a v-bind:href="'/user/' + match.right_player.login"><span>{{ match.right_player.username }}</span></a>
            <img :src="match.right_player.avatar_file" alt="pp">
            <span>{{ match.right_player_score }}</span>
          </div>
    </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}
interface MatchList {
  id: string;
  is_left_winner: boolean;
  left_player: User;
  left_player_score: number;
  right_player: User;
  right_player_score: number;
  timestamp: string;
}
export default defineComponent({
    props: {
        login: String
    },

    data() {
        return {
            matchList: {} as MatchList[],
        };
    },
    async created() {
        await this.initMatches();
        },
    methods: {
        async initMatches() {
          try {
            const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/game/get_all/' + this.login, {
              method: 'GET',
              headers: {
                'Content-Type': 'application/json'
              },
              credentials: 'include',
            });

            if (!request.ok) {
              return onerror;
            }
            const content = await request.json();
            if (content.error) {
              return onerror;
            }
            if (Array.isArray(content)) {
              this.matchList = content;
            }
            else
              return Promise.reject(content.error);
          } catch (error) {
            //console.log(error);
            return onerror;
          }
        },
      getMatchClass(match: MatchList) {
          if (match.id.includes('custom'))
          {
            if ((match.is_left_winner && match.left_player.login === this.login) ||
                (!match.is_left_winner && match.left_player.login !== this.login)) {
              return 'winner-custom';
            } else {
              return 'looser-custom'
            }
          } else {
            if ((match.is_left_winner && match.left_player.login === this.login) ||
                (!match.is_left_winner && match.left_player.login !== this.login)) {
              return 'winner';
            } else {
              return 'looser'
            }
          }
      },

    }
})

</script>
<style lang="scss" scoped>

  .box-container {
    text-align: center;
    list-style: none;
  }

  .game-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 60vw;
    height: 50vh;
    border-radius: 5px;
    background: #E7E7E7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: auto;
    padding: 15px;
    gap: 10px;
  }

  #winner {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #008b0c, #32cc51) border-box;
    border-radius: 5px;
    border: 4px solid transparent;
  }

  #winner-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #008b0c, #32cc51) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
  }

  #looser {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #8b0000, #cc3232) border-box;
    border-radius: 5px;
    border: 4px solid transparent;
  }

  #looser-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #8b0000, #cc3232) border-box;
    border-radius: 50em;
    border: 4px solid transparent;
  }

  .game-history img {
    width: 40px;
    border-radius: 5px;
  }

  @font-face {
    font-family: Torus;
    font-weight: bold;
    src: url("../../assets/Torus-regular.otf") format("opentype");
  }

  .game-history span {
    font-family: Torus, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 100%;
  }

  .game-history p {
    margin: 0;
    font-family: Torus, sans-serif;
    color: #cecece;
    font-size: 1.5em;
  }

  a {
    color: inherit;
  }

  .info-match {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 20%;
    background-color: #efefef;
  }


  .game-history div {
    padding: 0;
  }


</style>
