<template>
    <div v-if="lobbyID === undefined" class="top">
        <div class="container part">
            <h1 class="title">launch a games</h1>
            <div class="buttons">
                <button class="btn classic" @click="launchClassic"><span></span>
                    <p data-text="start!" data-title="Classic game"></p>
                </button>
                <button class="btn custom" @click="launchCustom"><span></span>
                    <p data-text="start!" data-title="Custom game"></p>
                </button>
            </div>
        </div>
        <button @click="cancelMatchMaking" class="cancel">❌</button>
        <div class="part">
            <h1 class="title">invite your connected friends</h1>
            <ul v-if="friends.length > 0" class="box-container part">
                <div v-for="(friend, index) in friends" :key="`friend-${index}`" class="box">
                    <li>
                        <a :href="'/user/' + friend.login">
                            <h1>{{ friend.username }}</h1>
                            <img :src="friend.avatar_file" alt="profile  avatar" />
                        </a>
                        <label class="toggle-control" :class="friendMatchMode[index] ? 'b' : 'o'">
                            <input type="checkbox" @change="friendMatchMode[index] = !friendMatchMode[index]">
                            <span class="control"></span>
                            {{ friendMatchMode[index] ? 'Custom' : 'Classic' }}
                        </label>
                        <button @click="launchInvite(index)" class="btn-invite">SEND</button>
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div v-else>
        <game-loader-vue :step="step" :id="lobbyID" />
    </div>
</template>

<script lang="ts">
import { defineComponent, watch } from 'vue';
import GameLoaderVue from './GameLoader.vue';
import { Activity } from './GameLoader.vue';
import socket from '@/service/socket';
import { User } from '@/types';

export default defineComponent({
    components: {
        GameLoaderVue
    },
    props: {
        lobbyID: String
    },
    data() {
        return {
            gameID: '',
            friends: {} as User[],
            friendMatchMode: {} as boolean[],
            step: Activity.Start
        };
    },
    unmounted() {
        if (this.gameID !== '')
            this.cancelMatchMaking();
    },
    async mounted() {
        // In case of redirection after a lobby found
        watch(() => this.lobbyID, (newValue) => {
            if (newValue !== undefined && socket.socket !== undefined) {

                // Init socket and error management
                socket.socket.on('connect_error', (err: Error) => {
                    if (err.message === "Bad credentials.")
                        this.$router.push('/401');
                })

                // Do all events connection/ emits while connecting
                socket.socket.on('connect', () => {
                    socket.socket?.on(newValue, (payload: string) => {
                        if (payload === 'match LAUNCH') {
                            this.gameID = '';
                            this.step = Activity.Finish;
                        }
                        // console.log('Receiving LAUNCH:', payload);
                        socket.disconnect();
                    })

                    socket.socket?.on(newValue + ' CANCEL', () => {
                        this.gameID = '';
                        location.reload();
                    })

                    socket.socket?.emit('game_lobby', { action: 'ready', param: newValue });
                })
                socket.reconnect();
            }
        }, { immediate: true });

        await this.updateFriends();
        socket.socket?.on('NOTIFY STATUS_CHANGED', this.updateFriends);

        // In case of invite with link
        if (this.gameID === '' && this.lobbyID !== undefined) {
            this.sendJoin();
            this.gameID = this.lobbyID;
        }
    },
    methods: {
        async updateFriends() {
            // Get all connected friends
            const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends/connected';
            await fetch(requestUrl, {
                method: 'GET',
                credentials: 'include'
            }).then(async response => {
                const friends = await response.json();

                // check for error response
                if (!response.ok) {
                    return Promise.reject(response.statusText);
                } else {
                    this.friends = friends;
                    this.friendMatchMode = Array(friends.size).fill(false)
                }
            }).catch((error: string) => {
                this.$notify({
                    title: "Lobby Error",
                    text: error,
                    type: 'error',
                })
            });

        },
        sendJoin() {
            socket.socket?.emit('game_lobby', { action: 'join', param: this.lobbyID },
                (response: { success: boolean, message: string }) => {
                    if (!response.success && response.message === 'Cannot join') {
                        this.$router.push('/lobby');
                        this.$notify({
                            type: 'error',
                            title: 'Lobby Error',
                            text: 'Lobby does not exist, or has expired'
                        })
                    } else if (!response.success && response.message === 'Internal Error: Please try again.') {
                        location.reload()
                    }
                })
        },
        launchClassic() {
            socket.socket?.emit('game_lobby', { action: 'request', param: 'classic' },
                (response: { success: boolean, message: string }) => {
                    if (response.success) {
                        this.gameID = response.message
                        this.$router.push('/lobby/' + response.message)
                        this.gameID = response.message
                    } else {
                        this.$notify({
                            title: "Lobby Error",
                            text: response.message,
                            type: 'error',
                        })
                    }
                })
        },
        launchCustom() {
            socket.socket?.emit('game_lobby', { action: 'request', param: 'custom' },
                (response: { success: boolean, message: string }) => {
                    if (response.success) {
                        this.gameID = response.message
                        this.$router.push('/lobby/' + response.message)
                        this.gameID = response.message
                    } else {
                        // console.log(`Refused reason: ${response.message}`)
                    }
                })
        },
        launchInvite(index: number) {
            const matchMode: string = this.friendMatchMode[index] ? 'Custom' : 'Classic'
            socket.socket?.emit('game_lobby', { action: 'invite', param: { mode: matchMode, guest: this.friends[index].login } },
                (response: { success: boolean, message: string }) => {
                    if (response.success) {
                        this.gameID = response.message
                        this.$router.push('/lobby/' + response.message)
                        this.gameID = response.message
                    } else {
                        // console.log(`Refused reason: ${response.message}`)
                    }
                })
        },
        cancelMatchMaking() {
            socket.socket?.emit('game_lobby', { action: 'cancel', param: '' },
                (response: { success: boolean, message: string }) => {
                    if (response.success) {
                        this.$router.push('/lobby')
                    } else {
                      // for debug
                        //console.log(`Refused reason: ${response.message}`)
                    }
                })
            this.gameID = ''
        }
    }
})
</script>

<style lang="scss"  src="../../style/GameLobby.scss" scoped ></style>
