<template>
		<div class="gradiant">
			<canvas ref="canvas" :width="width" :height="height"></canvas>
		</div>
</template>

<script lang="ts">
import { defineComponent, watch } from 'vue';
import { Fusee } from './loader/fusee';
import { Stars } from './loader/stars';
import imgFusee from '../../assets/fusee.png';

export enum Activity {
	Start = 1,
	Wait = 2,
	Finish = 3
}

let canvas: HTMLCanvasElement;
let ctx: CanvasRenderingContext2D | null;

const fusee = new Fusee(imgFusee);
const stars = new Stars();

export default defineComponent({
	props: {
		step: Number,
		id: String
	},
	data() {
		return {
			ratio: 4,
			width: 0,
			height: 0,
			animationFrameId: 0,
			activity: Activity.Start
		};
	},

	created() {
		this.activity = this.step || Activity.Start;
		const middleX = (window.innerWidth / 2) - fusee.image.width / 2;
		fusee.x = middleX;
		watch(() => this.step, (newValue) => {
			if (newValue !== undefined)
				this.activity = newValue
		})
	},

	mounted() {
		this.activity = this.step || Activity.Start;
		// INIT CANVAS LOAD
		canvas = this.$refs.canvas as HTMLCanvasElement;
		ctx = canvas.getContext('2d');
		const middleX = (window.innerWidth / 2) - fusee.image.width / 2;
		fusee.x = middleX;
		fusee.y = window.innerHeight - (fusee.image.height / 4);

		// EVENT  PART
		window.addEventListener('resize', this.onResize);
		// SUPRAPONG
		if (canvas) {
			this.onResize();
			this.mainLoop();
		}
	},
	beforeUnmount() {
		// DESTROY CANVAS
		cancelAnimationFrame(this.animationFrameId);
	},
	methods: {

		mainLoop() {
			if (ctx) {
				ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
				stars.draw(ctx);
				if (this.activity == Activity.Start) {
					fusee.y -= 4;
					if (fusee.y < window.innerHeight / 3)
						this.activity = Activity.Wait;
					fusee.draw(ctx, false);
				}
				if (this.activity == Activity.Wait) {
					fusee.draw(ctx, true);
				}
				else if (this.activity == Activity.Finish) {
					fusee.draw(ctx, false);
					fusee.y -= 12;
				}
				if (fusee.y <= 0)
					this.$router.push(('/game/' + this.id) || '/lobby');
				this.animationFrameId = requestAnimationFrame(this.mainLoop);
			}
		},

		onResize() {
			this.width = window.innerWidth;
			this.height = window.innerHeight - 85;
			const middleX = (window.innerWidth / 2) - fusee.image.width / 2;
			fusee.x = middleX;
		}
	}

})
</script>

<style scoped>
.gradiant {
	align-items: center;
	position: fixed;
	width: 100vw;
	height: 100vh;

	background: rgb(164, 20, 156);
	background: linear-gradient(-45deg, rgba(164, 20, 156, 1) 0%, rgba(56, 9, 121, 1) 35%, rgba(13, 71, 124, 1) 68%, rgba(188, 0, 255, 1) 100%);
	background-size: 400% 400%;
	animation: animate 3s infinite;
}

@keyframes animate {
	0% {
		background-position: 0 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0 50%;
	}
}

@keyframes float {

	0% {
		transform: translate(0, 0px);
	}

	50% {
		transform: translate(0, 15px);
	}

	100% {
		transform: translate(0, -0px);
	}
}
</style>
