<template>
	<div class="body-game">
		<div class="gradiant">
			<canvas ref="canvas" :width="width" :height="height"></canvas>
		</div>
	</div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { PlayerProfile } from './pong/PlayerProfile';
import { Activity, PlayersInfo, EmitMatchType, EmitMatch } from './pong/game.type';
import imgBonus from '../../assets/pong/bonus.png';
import * as GameItems from './pong/GameItems';
import socket from '@/service/socket';
import { Rect } from './pong/game.type';

// TODO BONUS
const bonus = new Image();
bonus.src = imgBonus;
// TODO end BONUS


let canvas: HTMLCanvasElement;
let ctx: CanvasRenderingContext2D | null;

let activity = Activity.GAME;

function UpdateRatio(w: number, h: number): number {
	return Math.min(w / GameItems.background.width, h / GameItems.background.height);
}


export default defineComponent({
	props: {
		gameID: String
	},

	data() {
		return {
			is_countdown: false,
			ratio: 4,
			width: 0,
			height: 0,
			animationFrameId: 0,
			pInfo: this.newPlayerInfo()
		};
	},
	methods: {

		mainLoop() {
			if (ctx && this.ratio > 0) {
				ctx.clearRect(0, 0, window.innerWidth, window.innerHeight);
				ctx.drawImage(GameItems.background, 0, 0, GameItems.background.width * (this.ratio), GameItems.background.height * (this.ratio));
				this.drawTitle(ctx)
				if (this.pInfo.p1.profile !== undefined)
					this.pInfo.p1.profile.draw(ctx, this.ratio)
				if (this.pInfo.p2.profile !== undefined)
					this.pInfo.p2.profile.draw(ctx, this.ratio)
				if (activity == Activity.GAME) {
					GameItems.perso.draw(ctx, this.ratio, GameItems.shift);
					GameItems.ennemy.draw(ctx, this.ratio, GameItems.shift);
					GameItems.flash1.draw(ctx, this.ratio);
					GameItems.flash2.draw(ctx, this.ratio);
					GameItems.flash_win1.draw(ctx, this.ratio);
					GameItems.flash_win2.draw(ctx, this.ratio);
					if (GameItems.perso.move_up || GameItems.perso.move_down)
						socket.socket?.emit('match', { gameID: this.gameID, type: EmitMatchType.PLAYER1, data: GameItems.perso.r } as EmitMatch);
					if (GameItems.ennemy.move_up || GameItems.ennemy.move_down)
						socket.socket?.emit('match', { gameID: this.gameID, type: EmitMatchType.PLAYER2, data: GameItems.ennemy.r } as EmitMatch);

					let h = 20 + GameItems.shift.y;
					if (this.is_countdown == false)
						h = 100 + GameItems.shift.y;
					GameItems.score1.draw(ctx, this.pInfo.p1.score, 162 + GameItems.shift.x, h, this.ratio);
					GameItems.score2.draw(ctx, this.pInfo.p2.score, 272 + GameItems.shift.x, h, this.ratio);
					GameItems.ball.draw(ctx, this.ratio, GameItems.shift);
					if (GameItems.bonus.r.x != 0)
						GameItems.bonus.draw(ctx, this.ratio, GameItems.shift);
				}
				else if (activity === Activity.WIN) {
					ctx.drawImage(GameItems.youwin, 159 * this.ratio, 183 * this.ratio, GameItems.youwin.width * this.ratio, GameItems.youwin.height * this.ratio);
				}
				else if (activity === Activity.LOSE) {
					ctx.drawImage(GameItems.youlose, 159 * this.ratio, 183 * this.ratio, GameItems.youlose.width * this.ratio, GameItems.youlose.height * this.ratio);
				}
			}
			this.animationFrameId = requestAnimationFrame(this.mainLoop);
		},

		// *************  EVENTS ************* //
		onKeyPressDown(event: KeyboardEvent) {
			// console.log("key: ", event.key);
			if (this.pInfo.id == 1) {
				if (event.key === "ArrowDown")
					GameItems.perso.down(true);
				if (event.key === "ArrowUp")
					GameItems.perso.up(true);
			}
			if (this.pInfo.id == 2) {
				if (event.key === "ArrowDown")
					GameItems.ennemy.down(true);
				if (event.key === "ArrowUp")
					GameItems.ennemy.up(true);
			}
		},
		onKeyPressUp(event: KeyboardEvent) {
			// console.log("end key: ", event.key);
			if (this.pInfo.id == 1) {
				if (event.key === "ArrowDown")
					GameItems.perso.down(false);
				if (event.key === "ArrowUp")
					GameItems.perso.up(false);
			}
			if (this.pInfo.id == 2) {
				if (event.key === "ArrowDown")
					GameItems.ennemy.down(false);
				if (event.key === "ArrowUp")
					GameItems.ennemy.up(false);
			}
		},
		onResize() {
			this.width = window.innerWidth;
			this.height = window.innerHeight - 75;
			this.ratio = UpdateRatio(this.width, this.height);

			this.width = GameItems.background.width * this.ratio;
			this.height = GameItems.background.height * this.ratio;
		},

		// *************  INIT ************* //
		newPlayerInfo(): PlayersInfo {
			return {
				p1: {
					profile: undefined,
					score: 0
				},
				p2: {
					profile: undefined,
					score: 0
				},
				id: 0
			};
		},
		drawTitle(ctx: CanvasRenderingContext2D) {

			ctx.save()

			// Set font properties
			ctx.font = 42 * this.ratio + "px 'Press Start 2P'";
			ctx.fillStyle = 'white';
			ctx.textAlign = 'center';

			// Render retro gaming text
			ctx.fillText('SupraPong', (this.width / 2), 48 * this.ratio);
			ctx.restore();

		},


		// *************  SOCKETS EVENTS ************* //
		newPlayerPosition(info: EmitMatch) {
			if (info.type === EmitMatchType.PLAYER1)
				GameItems.perso.r = info.data as Rect;
			else if (info.type === EmitMatchType.PLAYER2)
				GameItems.ennemy.r = info.data as Rect;
		},
		updateBallInfo(ballInfo: { pos: { x: number, y: number }, color: string }) {
			GameItems.ball.x = ballInfo.pos.x
			GameItems.ball.y = ballInfo.pos.y
			GameItems.ball.color = ballInfo.color;
		},
		updatePlayersInfo(playersInfo: {
			p1: { username: string, avatar: string },
			p2: { username: string, avatar: string }
		}) {
			this.pInfo.p1.profile = new PlayerProfile(playersInfo.p1.avatar, playersInfo.p1.username, 1)
			this.pInfo.p2.profile = new PlayerProfile(playersInfo.p2.avatar, playersInfo.p2.username, 2)
		},
		updateCountdown(second: number) {
			this.pInfo.p1.score = second;
			this.pInfo.p2.score = second;
			if (second != 0)
				this.is_countdown = false;
			else
				this.is_countdown = true;
		},
		updateScore(id: number) {
			if (id === 1) {
				GameItems.flash2.flash();
				GameItems.flash_win1.flash();
				this.pInfo.p1.score++;
			} else {
				GameItems.flash1.flash();
				GameItems.flash_win2.flash();
				this.pInfo.p2.score++;
			}
		},
		endGame(winner: number) {
			if (this.pInfo.id === winner)
				activity = Activity.WIN;
			else
				activity = Activity.LOSE;
		},
	},

	mounted() {

		if (this.gameID) {
			socket.setupSocketConnectionGame()

			// TODO bonus
			socket.socket?.on(this.gameID + ' bonus', (pos: { x: number, y: number }) => {
				GameItems.bonus.r.x = pos.x;
				GameItems.bonus.r.y = pos.y;
			});


			socket.socket?.on(this.gameID, this.newPlayerPosition)
			socket.socket?.on('connect', () => {
				socket.socket?.on(socket.socket?.id + ' game', (info: {id: number, scoreP1: number, scoreP2: number}) => {
					this.pInfo.p1.score = info.scoreP1;
					this.pInfo.p2.score = info.scoreP2;
					this.pInfo.id = info.id;

				})
			})

			socket.socket.on('connect_error', () => {
				// console.log('Got an error: ', err.message);
				this.$router.push('/profile');
			})
			socket.socket.on('disconnect', (reason: string) => {
				if (reason === "io server disconnect") {
					this.$router.push('/lobby');
				}
			})

			socket.socket.on(this.gameID + ' BALL', this.updateBallInfo);
			socket.socket.on(this.gameID + ' SCORE', this.updateScore);
			socket.socket.on(this.gameID + ' COUNTDOWN', this.updateCountdown);
			socket.socket.on(this.gameID + ' PLAYERSINFO', this.updatePlayersInfo);
			socket.socket.on(this.gameID + ' END', this.endGame);
			socket.socket.connect();
		}

		// INIT CANVAS LOAD
		canvas = this.$refs.canvas as HTMLCanvasElement;
		ctx = canvas.getContext('2d');
		// EVENT  PART
		window.addEventListener('keyup', this.onKeyPressUp);
		window.addEventListener('keydown', this.onKeyPressDown);
		window.addEventListener('resize', this.onResize);
		if (canvas) {
			this.onResize();
			this.mainLoop();
		}
	},
	beforeUnmount() {
		cancelAnimationFrame(this.animationFrameId);
	}

})
</script>

<style scoped>

.gradiant {
	position: fixed;
	width: 100vw;
	height: 100vh;
	margin-top: 70px;
	display: grid;
	justify-content: center;

	background: rgb(164, 20, 156);
	background: linear-gradient(-45deg, rgba(164, 20, 156, 1) 0%, rgba(56, 9, 121, 1) 35%, rgba(13, 71, 124, 1) 68%, rgba(188, 0, 255, 1) 100%);
	background-size: 400% 400%;
	animation: animate 15s infinite;
}

@keyframes animate {
	0% { background-position: 0 50%; }

	50% { background-position: 100% 50%; }

	100% { background-position: 0 50%; }
}

@keyframes float {

	0% { transform: translate(0, 0px); }

	50% { transform: translate(0, 15px); }

	100% { transform: translate(0, -0px); }
}
div {
	min-width: 300px;
	min-height: 300px;
}
</style>
