<template>
	<div class="login-page">
		<div class="connect-intra">
			<div class="info">
				<div>
					<p>Welcome to SupraPong 42 project.</p>
				</div>
				<div class="item">
					<p>1.</p>
					<span>Click on the login button.</span>
				</div>
				<div class="item">
					<p>2.</p>
					<span>Connect your 42 intranet account.</span>
				</div>
				<div class="item">
					<p>3.</p>
					<span>Enjoy the game !</span>
				</div>
				<img src="../assets/astro-connect.png" alt="connect">
			</div>
			<div class="connect">
				<a :href="link" class="button-intra">
					<img src="../assets/42.png" alt="42-logo">
					<p> Sign up with your 42 account</p>
				</a>
				<span style="margin-top: 5px"><b>INFO:</b> to sign up, you must be a 42 student.</span>
			</div>
		</div>
	</div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      link: 'https://api.intra.42.fr/oauth/authorize?client_id=' + process.env.VUE_APP_CLIENT_ID + '&redirect_uri=http%3A%2F%2F' + process.env.VUE_APP_IP_HOST + '%3A' + process.env.VUE_APP_BACK_PORT+ '%2Fapi%2Fgettoken%2F&response_type=code',
    };
  },
};
</script>

<style scoped>

@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@400;600&family=Oswald&display=swap');

.connect-intra {
	display: flex;
	position: absolute;
	top: 80px;
	height: 90vh;
	width: 90vw;
	background-color: #fafafa;
}

.connect-intra .info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 30px;
	padding-left: 10%;
	width: 50%;
	height: 90%;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.connect-intra .info p {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

.connect-intra .info span {

	font-family: 'Inter', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	font-size: 1.3em;

}

.connect-intra .connect {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 90%;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.button-intra {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #000000;
	border-radius: 20px;
	width: 50%;
	height: 10%;
}

a {
	margin: 0;
	padding: 0;
}

.button-intra img {
	position: absolute;
	left: 0;
	width: 10%;
	margin-left: 10%;
}

.button-intra p {
	position: absolute;
	right: 0;
	margin-right: 10%;
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 1vw;
}

.connect-intra .info img {
	width: 70%;
	filter: drop-shadow(0 0 0.25rem #FFD97E);
}

.connect-intra .info .item {
	display: flex;
	flex-direction: row;
}

.connect-intra .info div:nth-child(2){
	margin-top: 30px;
}

.login-page {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
</style>
