<template>
  <div class="friends-body">
    <div v-if="friendslist.length > 0" class="all-friends">
      <div v-for="friend in friendslist" :key="friend.id" id="friends-content">
        <a :href="'/user/' + friend.login">
          <img :src="friend.avatar_file" alt="friend avatar">
          <p> {{ friend.username }}</p>
          <div
            :class="`status${friend.status}`">
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import socket from '@/service/socket';
import { defineComponent } from 'vue';


interface Friend {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}
export default defineComponent({
  name: "Friend-comp",

  props: {
    login: String,
    auth: Boolean
  },

  data() {
    return {
      friendslist: {} as Friend[],
    };
  },
  async created() {
    await this.updateFriends();
    socket.socket?.on('NOTIFY STATUS_CHANGED', this.updateFriends)
  },
  methods: {
    async updateFriends() {
      try {
        const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends/of/' + this.login, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });
        if (!request.ok) {
          return onerror;
        }
        const content = await request.json();
        if (content.error) {
          return onerror;
        }
        this.friendslist = content;
      } catch (error) {
        this.$router.push('/profile');
        //console.log(error);
      }
    }
  }
})

</script>

<style lang="scss" scoped>

.friends-body {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 45vw;
  height: 50vh;
  border-radius: 5px;
  background: #E7E7E7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.all-friends {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

#friends-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 270px;
  height: 80px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 5px;
}

#friends-content img {
  height: 50px;
  border-radius: 10px;
}

#friends-content a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: Torus;
  font-weight: bold;
  src: url("../assets/Torus-regular.otf") format("opentype");
}

#friends-content p {
  margin: 10px;
  color: #666666;
  font-family: 'Torus', sans-serif;
  font-size: 1.5em;
}

#friends-content .status0, .status1, .status2 {
  width: 20px;
  height: 20px;
  border-radius: 10px;

}

#friends-content .status1 {
  background-color: #6bc071;
}

#friends-content .status0 {
  background-color: #8f8f8f;
}

#friends-content .status2 {
  background-color: #751fff;
}
</style>