<template>
<div class="homepage">
	<div class="text-header">
		<p>FT_TRANSCENDENCE</p>
	</div>
	<div class="astro">
    <img class="astro-nda" src="../assets/astro-nda.png" alt="astro-nda">
    <img class="astro-thib" src="../assets/astro-thib.webp" alt="astro-thib">
    <img class="astro-leo" src="../assets/astro-leo.webp" alt="astro-leo">
    <img class="astro-nono" src="../assets/astro-nono.webp" alt="astro-nono">
	</div>
	<div class="play-button">
		<a href="/lobby">
			<div id="button">
				<p>Play</p>
			</div>
		</a>
	</div>
	<div class="footer">
		<p>Made by <a target="_blank" rel="noopener noreferrer" href="https://profile.intra.42.fr/users/lfarina"><b>lfarina</b></a>, <a target="_blank" rel="noopener noreferrer" href="https://profile.intra.42.fr/users/thmarin"><b>thmarin</b></a>, <a target="_blank" rel="noopener noreferrer" href="https://profile.intra.42.fr/users/nda-cunh"><b>nda-cunh</b></a> and <a target="_blank" rel="noopener noreferrer" href="https://profile.intra.42.fr/users/nskiba"><b>nskiba</b></a> with 💚</p>
	</div>
</div>
</template>

<script>
</script>

<style lang="scss" scoped>

@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@400;600&family=Oswald&display=swap');
@import url('https://fonts.cdnfonts.com/css/neofolia');

* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}


.homepage
{
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	background: url(../assets/back-galaxy.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;

}

.footer {
	width: 100%;
	display: flex;
	position: absolute;
	bottom: 0;
	align-items: center;
	justify-content: center;
}

.footer p {
	color: white;
	padding: 10px;
}

.play-button {
	position: absolute;
	bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100px;

}

.play-button #button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 100px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 30px;
	color: #f1f1f1;
	border: 0.7em solid white;
	transition: all 0.3s ease-in-out;
}

.play-button #button p {
	font-family: 'Neofolia', sans-serif;
	font-size: 3em;
}

.play-button #button:hover {

	background-color: white;
	color: black;
	transition: all 0.3s;
	transform:scale(1.1);
}

.text-header {
	margin-top: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
}

.text-header p {
	color: #03e3fc;
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
}

.text-header span {
	font-family: 'Flow Circular', cursive;
}

.astro {
	left:0;
	right:0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	width: 100%;
	height: 85%;
	transform-origin: bottom center 60px;
	animation: rotation 30s infinite linear;
}

.astro-nda {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	animation: rotation 10s infinite linear;
}

.astro-thib {
  position: absolute;
  top: 100px;
  left: 100px;
  right: 0;
  margin-right: auto;
  width: 170px;
  transform: rotate(230deg);

  animation: rotation_inverse 10s infinite linear;
}

.astro-leo {
  position: absolute;
  top: 100px;
  left: 0;
  right: 100px;
  margin-left: auto;
  width: 170px;
  transform: rotate(150deg);

  animation: rotation 10s infinite linear;
}

.astro-nono {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 20px;
  margin-left: auto;
  width: 170px;
  transform: rotate(30deg);
  animation: rotation_inverse 10s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

@keyframes rotation_inverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}

</style>
