<template>
  <div class="loading-page" v-if="loading">
    please wait...
  </div>
  <div v-if="!isRegister">
    <div class="connect-intra">
      <div class="info">
        <div>
          <p>Register to SupraPong 42 project.</p>
        </div>
        <div class="item">
          <p>1.</p>
          <span>Set your username.</span>
        </div>
        <div class="item">
          <p>2.</p>
          <span>Download a profile picture.</span>
        </div>
        <div class="item">
          <p>3.</p>
          <span>Click submit.</span>
        </div>
        <img src="../assets/astro-connect.png" alt="connect">
      </div>
      <div class="connect">
        <div>
          <form @submit.prevent="submit">
            <h1>Please enter username</h1>
            <input v-model="this.username" @input="checkUsername" type="text" class="form-control" placeholder="Username" ref="inputUsername">
            <input type="file" accept="image/*" ref="imageInput" @change="handleUpload">
            <img class="preview" v-if="this.avatar_file" :src="this.avatar_file" alt="photo">
            <button v-on:click="submitRegister" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="totp-page" v-if="this.isRegister && this.totp">
    <TotpAuthentificator :is-activation="false" :login="this.login" :username="this.username"/>
  </div>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import Cookies from "js-cookie";
import { useRouter } from "vue-router";
import store from "@/store";
import socket from '@/service/socket';
import router from "@/router";
import TotpAuthentificator from "@/components/TotpAuthentificator.vue";

export default defineComponent({
  components: { TotpAuthentificator },
  data() {
    return {
      uid: '',
      login: '',
      username: '',
      avatar_file: '',
      isRegister: false,
      totp: false,
      loading: true,
    };
  },

  async created() {
    const router = useRouter();

    if (!router.currentRoute.value.query.code || Array.isArray(router.currentRoute.value.query.code)) {
      this.$router.push('/');
      return ;
    }
    this.uid = router.currentRoute.value.query.code;
    if (!(await this.getUser())) {
      await router.push("/");
      return;
    }

    if (!(await this.isRegistered()))
      return;
    this.loading = false;

    await router.replace("/intra-connect");
    if (!this.totp && this.isRegister) {
      store.state.authenticated = true;
      await this.getToken(this.login, this.username);
      await this.$router.push("/");
    }
  },
  methods: {
    async getUser() {
      if (!this.uid || this.uid.length === 0) return;
      try {
        const response = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/getuser/', {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({token: this.uid}),
          credentials: "include"
        });
        if (!response.ok) return false;
        const userResponse = await response.json();
        if (userResponse.error) {
          return false;
        }
        if (!userResponse.login || userResponse.login.length === 0) return false;
        Cookies.set("_login", userResponse.login);
        this.login = userResponse.login;
        await store.dispatch("setLogin", userResponse.login);
        await store.dispatch("setId", Number.parseInt(userResponse.username));
        return true;
      } catch (error) {
        //.error("Error get user:", error);
        return false;
      }
    },
    async isRegistered() {
      if (this.login.length === 0) return false;
      try {
        const response = await fetch(
            'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/find/' + this.login,
            {
              method: "GET",
              headers: {
                "Content-Type": "application/json"
              },
              credentials: "include"
            }
        );
        const responseData = await response.json();
        if (responseData.error === "user not found") this.isRegister = false;
        else {
          this.isRegister = true;
          this.totp = responseData.using_2fa;
          this.username = responseData.username;
        }
        return true;
      } catch (error) {
        return false;
      }
    },
    async getToken(login: string, username: string) {
      try {
        const response = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/token', {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({ login: this.login }),
          credentials: "include"
        });
        if (!response.ok) return false;
        const responseData = await response.json();
        if (responseData.error === "user not found") return false;
        await store.dispatch("setLogin", login);
        await store.dispatch("setId", Number.parseInt(username));
        socket.connect();
        return true;
      } catch (error) {
        return false;
      }
    },
    async submitRegister() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/add', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify(
                {
                  login: this.login,
                  username: this.username,
                  using_2fa: false,
                  avatar_file: this.avatar_file
                }
            ),
            credentials: "include"
          });
          if (!request.ok) {return onerror;}
          const addData = await request.json();
          if (addData && addData.error === 'bad format')
          {
            this.$notify(
                {
                  title: 'Bad username',
                  text: 'Username must be less 13 characters and more than 2. Only alpha',
                  type: 'error'
                }
            )
            return;
          }
          const response = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/token', {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ login: this.login }),
            credentials: "include"});
          if (!response.ok) return false;
          const responseData = await response.json();
          if (responseData && responseData.error === "user not found") return false;
          await store.dispatch("setLogin", this.login);
          await store.dispatch("setId", Number.parseInt(this.username));
          await store.dispatch("setAuth", true);
          await router.push("/");
          return true;
        } catch (error) {
          //console.error(error);
          await router.push("/");
        }
    },
    checkUsername() {
      const input = this.$refs.inputUsername as HTMLInputElement;
      const regex = /^[a-zA-Z]{0,12}$/;

      if(!input)
        return;
      if(input.value.length >= 12)
        input.value = input.value.substring(0, 12);
      if (!regex.test(input.value)) {
        input.value = input.value.slice(0, -1);
      }
    },
    handleUpload(): void {
      const fileInput = this.$refs.imageInput as HTMLInputElement;
      const file = fileInput.files?.[0];
      if (file) {
        if (file.size > 50 * 1024) {
          this.$notify({
            title: "Error",
            text: "Maximum 50 ko !",
            type: "error"
          });
          return;
        }
        const reader = new FileReader();
        reader.onload = (event) => {
          const image = new Image();
          image.src = event.target?.result as string;
          image.onload = () => {
            if (image.width > 1024 || image.height > 1024) {
              this.$notify({
                title: "Error",
                text: "Max 1024x1024 !",
                type: "error"
              });
              return;
            }
            if (event.target)
              this.avatar_file = event.target.result as string;
          };
        };
        reader.readAsDataURL(file);
      }
    }
  },
});
</script>

<style scoped lang="scss">

.loading-page {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 70px;
	width: 100vw;
	height: 100vh;
	background-color: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect input{
	background-color: #ffffff;
	margin-top: 5px;
}

.connect button {
	width: 80px;
	height: 30px;
	margin-top: 5px;
}

.totp-page {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	padding-top: 70px;
	width: 100vw;
	height: 100vh;
	background-color: #c7c7c7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.connect form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.connect-intra {
	display: flex;
	position: absolute;
	top: 80px;
	height: 90vh;
	width: 90vw;
	background-color: #fafafa;
}

.preview {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
.connect-intra .info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 30px;
	padding-left: 10%;
	width: 50%;
	height: 90%;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.connect-intra .info p {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
}

.connect-intra .info span {

	font-family: 'Inter', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 10px;
	font-size: 1.3em;

}

.connect-intra .connect {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 50%;
	height: 90%;
	margin-top: 70px;
	margin-left: 10px;
	margin-right: 10px;
}

.button-intra {
	position: relative;
	display: flex;
	align-items: center;
	background-color: #000000;
	border-radius: 20px;
	width: 50%;
	height: 80px;
}

a {
	margin: 0;
	padding: 0;
}

.button-intra img {
	position: absolute;
	left: 0;
	width: 10%;
	margin-left: 40px;
}

.button-intra p {
	position: absolute;
	right: 0;
	margin-right: 40px;
	color: white;
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	font-size: 1vw;
}

.connect-intra .info img {
	width: 70%;
	filter: drop-shadow(0 0 0.25rem #FFD97E);
}

.connect-intra .info .item {
	display: flex;
	flex-direction: row;
}


.connect-intra .info div:nth-child(2) {
	margin-top: 30px;
}
</style>
