<script lang="ts">
import Cookies from "js-cookie";
import {useRouter} from "vue-router";
import socket from "@/service/socket";

export default {
  async created() {
    const router = useRouter();

    if (Cookies.get('jwt'))
    {
      await Cookies.remove('jwt');
      if (Cookies.get('_uid'))
        await Cookies.remove('_uid');
      if (Cookies.get('_login'))
        await Cookies.remove('_login');
      sessionStorage.clear();
      socket.disconnect();
      window.location.reload();
    }
    await router.push('/');
  }
};
</script>

<template>
<div></div>
</template>

<style scoped lang="scss">
</style>