<template>
	<div class="not-authorized">
		<img src="../assets/401.webp" alt="401">
		<div class="text">
			<span><b>401.</b></span>
			<span>That's an offense.</span>
		</div>
	</div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';
export default defineComponent({})
</script>

<!-- Scoped makes the style unique to this component -->
<style scoped>
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@400;600&family=Oswald&display=swap');

.not-authorized
{
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: #35DAFE;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 750px) {

	.not-authorized img {
		position: absolute;
		top: 30%;
		margin-left: 60%;
		height: 40%;
	}

	.not-authorized .text {
		width: 60%;
		height: 40%;
		position: absolute;
		top: 30%;
		margin-left: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.not-authorized .text span {
		color: #35acfc;
		font-size: 5em;
		line-height: 50px;
		margin-right: 5px;
	}

	.not-authorized .text b {
		color: #1a78b6;
	}

}

@media screen and (max-width: 750px) {

	.not-authorized .text {
		width: 60%;
		height: 40%;
		position: absolute;
		top: 30%;
		margin-left: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.not-authorized .text span {
		color: #666666;
		font-size: 2em;
		line-height: 50px;
		margin-right: 5px;
	}
}
</style>