<template>
	<div class="not-found">
		<img src="../assets/404.jpg" alt="404">
		<div class="text">
			<span><b>404.</b></span>
			<span>That's an error.</span>
		</div>
	</div>
</template>

<script lang="ts">

import { defineComponent } from 'vue';

/** Define component to use it **/
export default defineComponent({})
</script>

<!-- Scoped makes the style unique to this component -->
<style>
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Inter:wght@400;600&family=Oswald&display=swap');



.not-found
{
	height: 100vh;
	width: 100vw;
	background-color: #e4fcff;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 750px) {

	.not-found img {
		position: absolute;
		top: 30%;
		margin-left: 60%;
		height: 40%;
	}

	.not-found .text {
		width: 60%;
		height: 40%;
		position: absolute;
		top: 30%;
		margin-left: 15%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.not-found .text span {
		color: #666666;
		font-size: 5em;
		line-height: 50px;
		margin-right: 5px;
	}

	.not-found .text b {
		color: black;
	}

}

@media screen and (max-width: 750px) {

	.not-found .text {
		width: 60%;
		height: 40%;
		position: absolute;
		top: 30%;
		margin-left: 30%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.not-found .text span {
		color: #666666;
		font-size: 2em;
		line-height: 50px;
		margin-right: 5px;
	}
}
</style>