<template>
  <div class="container-2fa">
      <h2>2fa Activation</h2>
      Insert the code given by your TOTP application

      <!-- TOTP code Insertion -->
      <div class="digit-input">
        <input ref="inputRefs" v-for="(input, index) in inputs" :key="index" type="text" maxlength="1"
          @keyup="handleKeyUp($event, index)" @paste="pasteFct($event, index)">
      </div>

      <!-- Activation TOTP Part -->
      <vue-qrcode style="border-radius: 10px; box-shadow: 0 1px 4px black" :type="'image/webp'" :color="{ dark: '#4a9ecb', light: '#ffffffff' }" :value="key" tag="img" />
      <div>
        <button v-if="key" role="button" class="button_post refresh" @click="refreshToken"> Refresh </button>
        <!-- Validation Button -->
        <button role="button" class="button_post validate" @click="checkTotp"> Validate </button>
      </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import VueQrcode from 'vue-qrcode'
import store from '@/store';
import Cookies from 'js-cookie';


export default defineComponent({
  components: {
    VueQrcode,
  },
  props: {
    isActivation: Boolean,
    login: String,
    username: String
  },
  data() {
    return {
      key: '' as string,
      inputs: ['', '', '', '', '', ''] as string[]
    };
  },
  mounted() {
    if (this.isActivation)
      this.refreshToken()
  },
  methods: {

    async refreshToken() {

      // Need to add header elements: token in cookie
      await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/2fa/?login=' + store.state.login, {
        credentials: 'include',
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
      }).then(async response => {
        const data = await response.json();

        // check for error response
        if (!response.ok) {

          // get error message from body or default to response statusText
          const error = (data && data.message) || response.statusText;
          return Promise.reject(error);
        } else {
          this.key = data.tfa_key;
        }
      }).catch((error: string) => {
        this.$notify({
          title: "Error",
          text: error,
          type: 'error',
        })
      })

    },

    async checkTotp() {

      // Definition sleep method
      const sleep = (ms: number) => new Promise((r) => setTimeout(r, ms));

      // Need to add header elements: token in cookie
      const requestCookie = 'jwt=' + (Cookies.get('jwt') || '')
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/2fa/?code=' + this.inputs.join('') + "&login=" + store.state.login

      await fetch(requestUrl, {
        credentials: 'include',
        method: 'GET',
        headers: {
          'Cookie': requestCookie
        }
      }).then(async response => {
        const data = await response.json();
        // check for error response
        if (!response.ok) {
          // get error message from body or default to response statusText
          const error = (data && data.message) || response.statusText;
          return Promise.reject(error);

          // check for valid response
        } else if (data.isValid === true) {
          await sleep(500);
          await this.getToken();
          await store.dispatch('setAuth', true);
          window.location.reload();
        }
      }).catch((error: string) => {
        //console.log(error);
        this.$notify({
          title: "Error",
          text: error,
          type: 'error',
        })

        const inputElements = this.$refs.inputRefs as HTMLInputElement[];

        // Erase code
        inputElements.map((element) => element.value = '');
        inputElements[0].focus();
      });

    },
    async getToken() {
      if (!this.login || !this.username){
        return false;
      }
      try {
        const response = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/token', {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ login: this.login }),
          credentials: "include",
        });
        const responseData = await response.json();
        if (responseData.error === 'user not found')
          return false;
        await store.dispatch('setLogin', );
        await store.dispatch('setId', Number.parseInt(this.username));
        return true;
      } catch (error) {
        //console.log(error);
        return false;
      }
    },

    async handleKeyUp(event: KeyboardEvent, index: number) {
      const inputElements = this.$refs.inputRefs as HTMLInputElement[];
      const currentInputValue = inputElements[index].value;

      if (event.key === "Backspace") {
        if (currentInputValue === "" && index != 0) {
          inputElements[index - 1].focus();
        }
      }
      // In case of digit input
      else if (/^\d$/.test(currentInputValue)) {
        this.inputs[index] = currentInputValue;

        // User cursor not on last digit
        if (index != 5) {
          inputElements[index + 1].focus();
        }
        // TOTP code is complete
        else if (this.inputs.join('').length == 6) {
          await this.checkTotp()
        }
      }
      // In case of char different from digit
      else {
        inputElements[index].value = "";
      }
    },
    async pasteFct(event: ClipboardEvent) {
      event.preventDefault();

      const data = event.clipboardData?.getData('text') || '';

      if (! /^[0-9]{6}$/.test(data))
        return;

      const inputElements = this.$refs.inputRefs as HTMLInputElement[];

      // Fill each input with code
      inputElements.forEach((input, index) => {
        input.value = data[index]
        this.inputs[index] = input.value
      });
      await this.checkTotp()
    }
  },
});
</script>

<style lang="scss" scoped>
.container-2fa {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 3px solid black;
}

.button_post {
  height: 30px;
  color: white;
  font-weight: bold;
  border: 2px #efefef solid;
}

.refresh {
  width: 100px;
  background-color: #6b93c0;
  margin: 10px;
}

.refresh:hover {
  width: 110px;
  transition: width .1s ease-in-out;
}

.validate {
  width: 100px;
  background-color: #6bc071;
  margin: 10px;
}

.validate:hover {
  width: 110px;
  transition: width .1s ease-in-out;
}

.container h2 {
  font-family: fantasy;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

  background-image: linear-gradient(90deg, #f8b044, #5364ff);
  color: white;

  margin-top: 10px;
  margin-bottom: 20px;
}

.digit-input {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.digit-input input {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border-radius: 13px;
}
</style>
