<template>
  <UserSettings :user-login="userLogin" :using2fa="using2fa" v-if="showSettings && this.userLogin === store.state.login"/>
  <div class="profile-body">
    <div class="user-info">
      <img :src="avatar_file" alt="profile-picture" id="avatar">
      <div class="name-status">
        <p id="login">{{ userLogin }}</p>
        <p id="username">{{ username }}</p>
        <div class="user-status" :class="status"></div>
      </div>
      <div class="user-stats">
        <div class="content-stats">
          <p id="top">Victory</p>
          <p id="bottom">{{ wins }}</p>
        </div>
        <div class="content-stats">
          <p id="top">Defeat</p>
          <p id="bottom">{{ loses }}</p>
        </div>
        <div class="content-stats">
          <p id="top">Score</p>
          <p id="bottom">{{ ((wins / (wins + loses)) * 100).toFixed(2)  }}%</p>
        </div>
      </div>
      <div class="level-bar">
        <div id="progress" :style="{ width: xp + '%' }"></div>
        <div id="level-text">Level {{ level }} - {{ xp }}%</div>
      </div>
      <button id="close" v-if="showSettings" v-on:click="showSettings = !showSettings">X</button>
      <div class="buttons-settings" v-if="userLogin === store.state.login">
        <button class="settings-profile" v-on:click="showSettings = !showSettings">Edit Profile</button>
      </div>
      <div class="user-relations" v-if="userLogin !== store.state.login">
        <div v-on:click="sendFriends" v-if="friendsStatus === 0" class="friends-button">
          <img src="../assets/request.svg" alt="request">
        </div>
        <div v-on:click="undoFriends" v-if="friendsStatus === 1" class="friends-button">
          <img src="../assets/wait.svg" alt="request">
        </div>
        <div v-on:click="acceptFriends" v-if="friendsStatus === 2" class="friends-button">
          <img src="../assets/accept.svg" alt="request">
        </div>
        <div v-on:click="deleteFriends" v-if="friendsStatus === 3" class="friends-button">
          <img src="../assets/delete.svg" alt="request">
        </div>
      </div>
    </div>
  </div>
</template>
  
<script lang="ts">
import { defineComponent } from 'vue';
import UserSettings from '@/components/UserSettings.vue';
import store from '@/store';
import socket from '@/service/socket';
export default defineComponent({
  components: {
    UserSettings
  },
  props: {
    userLogin: String
  },
  emits: ['profileNotFound', 'usernameChanged'],
  data() {
        return {
          friendId : -1,
          store: store,
          avatar_file: '',
          username: '',
          userId: 0,
          xp: 0,
          status: '',
          level: 0,
          wins: 0,
          loses: 0,
          score: 0,
          using2fa: false,
          parentLoaded: false,
          matchList: {} as string[],
          showSettings: false,
          friendsStatus: 0
        };
    },
    async created() {
      try {
        if (!this.userLogin)
          return onerror;
        const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/find/'  + this.userLogin, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!request.ok) {
          this.$emit('profileNotFound', 'error');
          return onerror;
        }
        const content = await request.json();
        if (content.error) {
          this.$emit('profileNotFound', 'error');
          return onerror;
        }
        this.username = content.username;
        this.avatar_file = content.avatar_file;
        this.userId = content.id;
        this.using2fa = content.using_2fa;
        await this.initStats();
        this.updateStatus();
        this.parentLoaded = true;

        socket.socket.on('NOTIFY STATUS_CHANGED', this.updateStatus);
      } catch (error) {
        this.$emit('profileNotFound', 'error');
        //console.log('error init stats');
        return
      }
      if (this.userLogin !== store.state.login)
        await this.getFriendsStatus();
      await this.getXP();
    },
    methods: {
      updateStatus() {
        //console.log('Updating status');
        socket.socket.emit('GET_STATUS', {login: this.userLogin}, (status: number) => {
          if (status === 0)
            this.status = 'disconnected'
          else if (status === 1)
            this.status = 'connected'
          else
            this.status = 'ingame'
        })
      },
      async initStats() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/game/get_stat/' + this.userLogin, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
          });
          if (!request.ok) {
            this.loses = 0;
            this.score = 0;
            this.wins = 0;
            return onerror;
          }
          const content = await request.json();
          if (content.error) {
            return onerror;
          }
          if(content.wins)
            this.wins = content.wins;
          if(content.loses)
            this.loses = content.loses;
        } catch (error) {
         // console.log('error init match stats');
          return onerror;
        }
      },
      async getXP() {
        const total_xp = this.wins * 70;
        if (total_xp === 0)
          return ;
        this.level = Math.floor(total_xp / 100);
        this.xp = total_xp % 100;

        if (this.xp < 100) {
          this.xp = Math.floor(this.xp);
        }
      },
      async getFriendsStatus() {
        if (await this.isFriend())
          this.friendsStatus = 3;
        else if (await this.isAlreadySend())
          this.friendsStatus = 1;
        else if (await this.isInWaiting())
          this.friendsStatus = 2;
      },
      async isFriend() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends/test/' + this.userLogin, {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
          });
          if (!request || !request.ok) {
            return onerror;
          }
          const content = await request.json();
          if (!content.error) {
            this.friendId = content.id;
            return true;
          }
          this.friendId = -1;
          return false;
        } catch (error) {
          //console.log(error);
          return false;
        }
      },
      async isAlreadySend() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends_req/get_send', {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
          });
          if (!request || !request.ok) {
            return onerror;
          }
          const content = await request.json();
          if (Array.isArray(content)) {
            return content.some(item => item.login === this.userLogin);
          }
          return false;
        } catch (error) {
          //console.log(error);
          return false;
        }
      },
      async isInWaiting() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends_req/get_receive', {
            method: 'GET',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
          });
          if (!request || !request.ok) {
            return onerror;
          }
          const content = await request.json();
          if (Array.isArray(content)) {
            return content.some(item => item.login === this.userLogin);
          }
          return false;
        } catch (error) {
         // console.log(error);
          return false;
        }
      },
      async sendFriends() {
        //console.log(this.userLogin);
        try {
          if (await this.isFriend() === true)
            return ;
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends_req/add', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
            body: JSON.stringify({ receiverLogin: this.userLogin }),
          });
          if (!request || !request.ok) {
            return onerror;
          }
          this.friendsStatus = 1;
        } catch (error) {
         // console.log(error);
          return onerror;
        }
      },
      async undoFriends() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends_req/undo', {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
            body: JSON.stringify({ receiverLogin: this.userLogin }),
          });
          if (!request || !request.ok) {
            return onerror;
          }
          this.friendsStatus = 0;
        } catch (error) {
         // console.log(error);
          return onerror;
        }
      },
      async acceptFriends() {
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends_req/add', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
            body: JSON.stringify({ receiverLogin: this.userLogin }),
          });
          if (!request || !request.ok) {
            return onerror;
          }
          this.friendsStatus = 3;
        } catch (error) {
         // console.log(error);
          return onerror;
        }
      },
      async deleteFriends() {
          if (this.friendId === -1)
            return ;
        try {
          const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/friends', {
            method: 'DELETE',
            headers: {
              'Content-Type': 'application/json'
            },
            credentials: 'include',
            body: JSON.stringify({ relation: this.userLogin }),
          });
          if (!request || !request.ok) {
            return onerror;
          }
          this.friendsStatus = 0;
        } catch (error) {
          //console.log(error);
          return onerror;
        }
      }
    }
});
</script>
  
<style lang="scss" scoped>
.level-bar {
  position: relative;
  display: flex;
  width: 30%;
  height: 30px;
  border-radius: 20px;
  border: 2px solid #333333;
  background-color: #4f4f4f;
  overflow: hidden;

}

.friends-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #80ec80;
  border-radius: 10px;
}

.friends-button img {
  width: 15px;
}

#progress {
  background-color: #83ff9f;
  height: 100%;
}

.buttons-settings {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
}

.user-relations {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
  gap: 10px;
}

#close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 150px;
  top: 100px;
  z-index: 2;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 10px;
}

.buttons-settings .settings-profile {
  width: 100px;
  height: 50px;
  background-color: #a7de79;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-family: Torus, sans-serif;
}

#level-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Torus, sans-serif;
  color: #ffffff;
}

.profile-body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.user-info {
  display: flex;
  align-items: center;
  background-color: #e7e7e7;
  padding-left: 10px;
  width: 90vw;
  height: 90px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
}

.user-info #avatar {
  height: 80px;
  width: 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
}

.user-info .name-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80px;
  width: 120px;
}

.user-info .user-status {
  width: 30px;
  height: 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.connected {
  background-color: #7ed941;
}

.disconnected {
  background-color: #aaaaaa;
}

.ingame {
  background-color: #9334ff;
}

@font-face {
  font-family: Torus;
  font-weight: bold;
  src: url("../assets/Torus-regular.otf") format("opentype");
}

.user-info #login {
  font-family: 'Torus', sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 1.4em;
}

.user-info #username {
  font-family: 'Torus', sans-serif;
  font-weight: bold;
  color: rgba(35, 35, 34, 0.38);
  font-size: 1em;
}

.user-info .user-stats {
  width: 30%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.user-info .content-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 105px;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.content-stats #top {
  font-size: 1.5em;
  margin: 0;
}

.content-stats #bottom {
  font-size: 1em;
  color: rgba(35, 35, 34, 0.38);
}
</style>