<template>
  <div class="body-settings">
    <div class="frame">
      <div v-if="!activate2fa" class="content">
        <p>Edit username</p>
        <input type="text" placeholder="New username" @input="checkusername" @keydown="checkEnter" ref="inputUsername" />
      </div>
      <div v-if="!activate2fa" class="content">
        <p>Edit avatar</p>
        <div class="image-update">
          <input type="file" accept="image/*" ref="imageInput" @change="handleUpload">
          <button v-on:click="uploadPicture">Submit</button>
          <div v-if="avatar" class="preview">
            <img :src="this.avatar" alt="photo">
          </div>
        </div>
      </div>
      <div class="content">
        <button :id="[using_2fa ? 'green' : 'red']" @click="toggle">
          {{ using_2fa ? '2FA' : '2FA' }}
        </button>
        <TotpAuthentificator v-if="activate2fa" :login="this.userLogin" :isActivation="!this.using2fa" />
      </div>
    </div>
  </div>
</template>
  
<script lang="ts">
import {defineComponent} from 'vue';
import TotpAuthentificator from '@/components/TotpAuthentificator.vue';
import store from '@/store';
import Cookies from 'js-cookie';

export default defineComponent({
    components: {
        TotpAuthentificator
    },
    props: {
        userLogin: String,
        using2fa: Boolean
    },
    data() {
        return {
            using_2fa: this.using2fa,
            activate2fa: false,
            avatar: '',
        };
    },
    methods: {
      async toggle() {
            if (!this.using_2fa) {
                this.activate2fa = true;
            }
            else {
                // 2fa Desactivation request
                const requestCookie = 'jwt=' + (Cookies.get('jwt') || '')
                const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/2fa/?login=' + store.state.login

                await fetch(requestUrl, {
                    credentials: 'include',
                    method: 'DELETE',
                    headers: {
                        'Cookie': requestCookie
                    }
                }).then(async response => {

                    // check for error response
                    if (!response.ok) {
                        // get error message from body or default to response statusText
                        const error = response.statusText;
                        return Promise.reject(error);

                        // check for valid response
                    } else {

                      this.$notify({
                        title: "TOTP",
                        text: 'TOTP Disabled',
                        type: 'info'
                      })
                        this.$emit('status2faChanged', false)
                        this.using_2fa = false
                        window.location.reload();

                    }
                }).catch((error: string) => {
                  this.$notify({
                    title: "Error",
                    text: error,
                    type: 'error'
                  })
                });
            }
        },
      checkusername() {
        const input = this.$refs.inputUsername as HTMLInputElement;
        const regex = /^[a-zA-Z]{1,12}$/;

          if(!input)
            return;
        if(input.value.length >= 12)
          input.value = input.value.substring(0, 12);
        if (!regex.test(input.value)) {
          input.value = input.value.slice(0, -1);

        }
      },
      async checkEnter(event: KeyboardEvent) {

          if (event.key == 'Enter') {
            const input = this.$refs.inputUsername as HTMLInputElement
            const newUsername = input.value
            if (!(/^[a-zA-Z]{3,16}$/.test(newUsername))) {
              this.$notify({
                title: "Error",
                text: 'Bad username Format',
                type: 'error'
              })
              return;
            }
            const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/editusername';
            try {
              const request = await fetch(requestUrl, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify({new_username: newUsername}),
              });
              if (!request || !request.ok)
                return onerror;
              const content = await request.json();
              if (content.error)
              {
                let msg = 'Bad username';
                if (content.error === 'user already use')
                  msg = 'Username not available';
                this.$notify({
                  title: "Error",
                  text: msg,
                  type: 'error',
                })
                return onerror;
              }
              this.$emit('usernameChanged', newUsername);
              this.$notify({
                title: "Profil change",
                text: 'Username correctly updated!',
                type: 'info',
              })
              input.value = ''
            } catch (error) {
              this.$notify({
                title: "Error",
                text: 'Bad username',
                type: 'error',
              })
            }
          }
        },
      async handleUpload() {
        const fileInput = this.$refs.imageInput as HTMLInputElement;
        const file = fileInput.files?.[0];

        if (file) {
          if (file.size > 50 * 1024) {
            alert("Maximum 50Ko !");
            return;
          }
          const reader = new FileReader();

          reader.onload = (event) => {
            const image = new Image();
            image.src = event.target?.result as string;
            image.onload = () => {
              if (image.width > 1024 || image.height > 1024) {
                alert("Max 1024x1024 pixels.");

                return;
              }
              this.avatar = event.target?.result as string;
            };
          };
          reader.readAsDataURL(file);
        }
      },
      async uploadPicture() {
          if (this.avatar) {
            try {
              const request = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/editavatar', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json'
                },
                credentials: 'include',
                body: JSON.stringify({ new_avatar: this.avatar }),
              });
              if (!request || !request.ok) {
                return onerror;
              }
              this.$notify({
                title: "Update",
                text: 'Cool looks !',
                type: 'info',
              })
              window.location.reload();
            } catch (error) {
              //console.log(error);
              this.$notify({
                title: "Error",
                text: 'Bad avatar',
                type: 'error',
              })
            }
            return;
          } else {
            this.$notify({
              title: "Error",
              text: 'Please upload a image',
              type: 'error',
            })
          }
      },
    }
});
</script>
  
<style lang="scss" scoped>


.body-settings {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.body-settings .frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 500px;
  background-color: white;
  padding: 10px 0 10px 0;
  border-radius: 20px;
  gap: 10px;
}

.frame .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  height: 300px;
  padding: 0 10px 0 10px;

}

.frame input {
  height: 40px;
  border: 2px solid #2a2a2a;
  border-radius: 10px;
  padding: 5px;
}

.frame .content p {
  font-size: 2em;
}

.frame .content .image-update {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.frame .content .preview {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
}

.frame .content button {
  height: 25px;
  width: 20%;
  border: 2px solid #2a2a2a;
  border-radius: 10px;
}

.frame .content .preview img {
  width: 100%;
  height: 100%;
}

#red {
  background-color: #ff7575 !important;
  border-color: #8c2b2b;
}

#green {
  background-color: #6bc071 !important;
  border-color: #1E441E;
}
</style>
