<template>
	<header v-bind:style="this.$router.currentRoute.value.href === '/' ? {'background-color': 'rgba(0, 0, 0, 0.1)'} : {}">
		<div class="topnav">
			<div>
				<a href="/"><img id="logo" src="./assets/SupraPong.svg" alt="supralogo"></a>
			</div>
			<div class="nav-item">
				<a href="/"> <span>Home</span></a>
				<a href="/lobby"> <span>Play</span></a>
				<a href="/chat"> <span>Chat</span></a>
				<a href="/profile"> <span>Profile</span></a>
				<a v-if="!isConnected" href="/login"> <img src="./assets/user-logo.png" style="height: 20px" alt="login"> </a>
        <a v-else href="/logout"> <img src="./assets/logout.svg" style="height: 20px" alt="logout"></a>
        <a href="/manual.pdf" target="_blank"> <img src="./assets/man.svg" style="height: 20px" alt="manual"></a>
      </div>
		</div>
	</header>
	<notifications position="top right" classes="my-notifications" @click="clickOnNotification"/>
	<router-view></router-view>
</template>

<script lang="ts">
import { NotificationItem } from '@kyvg/vue3-notification';
import SocketioService from '@/service/socket';
import { ref } from 'vue';
import router from './router';
import Cookies from "js-cookie";

import socket from '@/service/socket';
import { defineComponent } from 'vue';
interface NotifData {
  link?: string;
}
export default defineComponent({
  // components: {Nav}
	name: 'App',
  data() {
    return {
      isConnected: ref(!!Cookies.get('jwt')),
    };
  },
	mounted() {
		socket.setupSocketConnection();

		SocketioService.socket.on('connect', () => {
			SocketioService.socket?.on(socket.socket.id + ' INVITE', this.showInvitationNotification);
      SocketioService.socket?.on(socket.socket.id + ' FRIEND', this.showFriendNotification);
		})

		SocketioService.reconnect();
	},
	beforeUnmount() {
		SocketioService.disconnect();
	},
	methods: {
		clickOnNotification(item: NotificationItem) {
			if (item.data) {
				const data = item.data as NotifData;

				if (data.link)
					router.push(data.link);
			}
		},
		showInvitationNotification(data: { type: string, matchID: string }) {
			if (data.type === 'match') {
				this.$notify({
					title: "Lobby Invitation",
					text: 'You have been invited to play Pong!',
					type: 'invite',
					data: {
						link: '/lobby/' + data.matchID,
					},
          duration: 10000,
				})
			}
		},
    showFriendNotification(data: { type: string, login: string }) {
      if (data.type === 'request') {
        this.$notify({
          title: "Friend Request",
          text: 'You have a new friend request from ' + data.login,
          type: 'invite',
          data: {
            link: '/user/' + data.login,
          },
          duration: 10000,
        })
      }
    },
    async disconnect() {
      if (Cookies.get('jwt'))
        await Cookies.remove('jwt');
      if (Cookies.get('_uid'))
        await Cookies.remove('_uid');
      if (Cookies.get('_login'))
        await Cookies.remove('_login');
      sessionStorage.clear();
      location.reload();
    }
	}
})
</script>


<style lang="scss">

@import url('https://fonts.cdnfonts.com/css/neofolia');

*{
  user-select: none;
}

@font-face {
  font-family: Torus;
  font-weight: bold;
  src: url("./assets/Torus-regular.otf") format("opentype");
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Torus', sans-serif;
	-webkit-user-drag: none;
	//overflow: hidden;
}

@media screen and (min-width: 800px) {

	header {
		position: absolute;
		width: 100vw;
		top: 0;
		z-index: 100;
		display: flex;
		justify-content: center;
		background-color: black;
	}

	.topnav {
		z-index: 100;

		width: 90vw;
		height: 72px;
		display: flex;
		align-items: center;
	}

	#logo {
		width: 100%;
	}

	.nav-item {
		width: 100%;
		margin-left: 100px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.nav-item a {
		color: white;
		text-decoration: none;
		font-weight: bold;
	}

	.topnav img {
		height: 40px;
	}

}

@media screen and (max-width: 800px) {

	header {
		position: absolute;
		width: 100vw;
		top: 0;
		z-index: 100;
		display: flex;
		justify-content: center;
		background-color: black;
	}

	.topnav {
		z-index: 100;
		width: 90vw;
		height: 72px;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	.nav-item {
		width: 100%;
		margin-left: 5px;
		margin-right: 5px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.nav-item a {
		padding-top: 5px;
		color: white;
		text-decoration: none;
		font-weight: bold;
	}

}

@media screen and (max-width:320px) {

	header {
		display: flex;
		justify-content: center;
		background-color: black;
	}

	.topnav #logo {
		display: none;
	}

	.nav-item {
		display: none;
	}

	.nav-item a {
		display: none;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.my-notifications {
	margin: 0 5px 5px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: 20px;
	font-weight: bold;
	border-radius: 5px;

	.notification-title {
		margin-bottom: 8px;
		font-size: 20px;
	}

	&.info {
		.notification-title {
			color: #e3f1fc;
		}

		.notification-content {
			color: #ced6ff;
		}

		background-color: #4a66ff;
		border-left-color: #42a5f5;
	}

	&.success {
		.notification-title {
			color: #f9fffa;
		}

		.notification-content {
			color: #c7fdd0;
		}

		background-color: #6da870;
		border-left-color: #357c37;
	}

	&.warn {
		.notification-title {
			color: #fffcf9;
		}

		.notification-content {
			color: rgb(248, 194, 143);
		}

		background-color: #ff9800;
		border-left-color: #ff5722;
	}

	&.error {
		.notification-title {
			color: #fff9f9;
		}

		.notification-content {
			color: #fcc4bf;
		}

		background-color: #f44336;
		border-left-color: #d32f2f;
	}

	&.invite {
		.notification-title {
			color: #fffdf9;
			font-weight: bolder;
			font-size: large;
		}

		.notification-content {
			color: #fdf4e1;
			font-weight: bolder;
		}

		background-image: url(https://i.pinimg.com/originals/a5/c2/44/a5c244761a4573da8dd2d55d66ee7b72.jpg);

		border-left-color: #fffdf9;
	}

	&.invite:hover {
		cursor: pointer;
	}
}
</style>