<template>
  <div class="main">
    <div class="newPopChannel">
      <div class="topChannel">
        <div style="margin-left: 5px">start a new discussion</div>
        <div @click="goOut" class="goOut">-</div>
      </div>
      <div class="optionNewChannel">
        <div class="publicList">
          <div>public</div>
          <input v-model="searchTerm" type="text" placeholder="name" :maxlength="40">
          <div style="overflow-y: scroll; max-height: 35%;">
            <div v-for="channel in filterByTerm" :key="channel.id">
                <div class="bloc-new"  @click="joinPublic(channel.name)">
                  <div class="name-channel">
                    {{channel.name}}
                  </div>
                  <div class="type-channel">
                    {{channel.type}}
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="joinChannel">
          <div>join</div>
          <input v-model="channelName" type="text" placeholder="name" :maxlength="40">
          <select v-model="selected">
            <option disabled value="">channel type</option>
            <option>password</option>
            <option>no password</option>
          </select>
          <input v-if="selected && selected === 'password'" v-model="pass" type="password" placeholder="pass" :maxlength="40">
          <button class="buttonSub" @click="join">submit</button>
          <div style="overflow-y: auto; max-height: 20%">
            <div v-for="channel in channelsInvite" :key="channel.id">
              <div class="bloc-new"  @click="invite(channel.name)">
                <div class="name-channel">
                  {{channel.name}}
                </div>
                <div class="type-channel">
                  {{channel.type}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="createChannel">
          <div>create</div>
          <input v-model="channelNameCreate" type="text" placeholder="name" :maxlength="40">
          <select v-model="selectedCreate">
            <option disabled value="">channel type</option>
            <option>private</option>
            <option>public</option>
            <option>protected</option>
          </select>
          <input v-if="selectedCreate && selectedCreate !== 'public'" v-model="passCreate" type="text" placeholder="pass" :maxlength="40">
          <button class="buttonSub" @click="create">submit</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

interface Channel {
  id: number;
  name: string;
  pass: string;
  type: string;
}

export default defineComponent({
  name: "newChannel-vue",

  props: {userLogin: String},
  data() {
    return {
      pass: '',
      selected: '',
      channelName: '',
      passCreate: '',
      selectedCreate: '',
      channelNameCreate: '',
      channels: [] as Channel[],
      channelsInvite: [] as Channel[],
      searchTerm: '',
    };
  },
  async created() {
    try {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/type/public';
      const usersList = await fetch(requestUrl, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      });

      if (!usersList.ok) {
        this.channels = [] as Channel[];
        return onerror;
      }
      const content = await usersList.json();
      if (content.error)
        return onerror;
      this.channels = content;
      if (this.channels.length < 1)
        this.channels = [] as Channel[];
      await this.getInviteChannels();
    } catch (error) {
      // for error
      //console.log('error');
      return onerror;
    }
  },
  methods: {
    /**
     * join a public channel from the list showed to the user
     */
    async joinPublic(name: string) {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/addMember';
      try {
        const newUser = await fetch(requestUrl, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            channelName: name,
            login: this.userLogin,
            pass: '',
            type: 'normal',
          }),
          credentials: 'include',
        });
        if (newUser.ok)
          this.$emit('channel', name);
        else {
          // for error
          //console.log('error from newChannel code :' + newUser.status);
          return onerror;
        }
      } catch (error) {
        // for error
        //console.log('error: impossible to join a public channel');
        return onerror;
      }
    },
    /**
     * allow the user to join a specific channel with its name and its password
     */
    async join() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/addMember';
      try {
        const resp = await fetch(requestUrl, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            channelName: this.channelName,
            login: this.userLogin,
            pass: this.pass,
            type: 'normal',
          }),
          credentials: 'include',
        });
        if (!resp.ok || resp.status !== 200) {
          // for error
          //console.log('error from newChannel code :' + resp.status);
          return onerror;
        }
        const content = await resp.json();
        if (content.error) {
          // for error
          //console.log('error from newChannel error :' + content.error);
          return onerror;
        }
        if (!content) {
          // for error
          //console.log('error from newChannel');
          return onerror;
        }
        this.$emit('channel', this.channelName);
      } catch (error) {
        // for error
        //console.log(error);
        return onerror;
      }
    },
    /**
     * allow the user to create its own channel with a specific name
     * and some options
     */
    async create() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel';
      const passRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=])(?!.*\s).{8,20}$/;
      const nameRegex = /^[a-z]{4,10}$/;
      if (this.selectedCreate === 'public') {
        this.passCreate = '';
      } else if (!passRegex.test(this.passCreate)) {
        this.$notify({
          title: "Bad format",
          text: 'password : 1 uppercase, 1 lowercase, 1 digit, 1 special character, between 8 and 20',
          type: 'error',
        });
        return ;
      }
      if (!nameRegex.test(this.channelNameCreate)) {
        this.$notify({
          title: "Bad format",
          text: 'channel name : full lower cases, between 4 and 10',
          type: 'error',
        });
      }

      try {
        const newUser = await fetch(requestUrl, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            userLogin: this.userLogin,
            channelInfo: {
              name: this.channelNameCreate,
              pass: this.passCreate,
              type: this.selectedCreate,
            },
          }),
          credentials: 'include',
        });
        if (newUser.ok)
          this.$emit('channel', name);
        else {
          // for error
          //console.log('error from newChannel code :' + newUser.status);
          return onerror;
        }
      } catch (error) {
        // for error
        //console.log('error: impossible to create a channel');
        return onerror;
      }
    },
    /**
     * get the channels list where the user is invited
     */
    async getInviteChannels() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMember/channelsInvited';
      try {
        const  response = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        })

        if (!response.ok) {
          // for error
          //console.log('error from newChannel code :' + response.status);
          this.channelsInvite = [];
          return onerror;
        }
        const content = await response.json();
        if (content.error) {
          // for error
          //console.log('error from newChannel code :' + this.channelsInvite.error);
          this.channelsInvite = [];
          return onerror;
        }
        this.channelsInvite = content;
      } catch (error) {
        // for error
        //console.log('error: impossible');
        this.channelsInvite = [];
        return onerror;
      }
    },
    /**
     * close the window
     */
    goOut() {
      this.$emit('error', 'out');
    },
    /**
     * form the channels list where the user is invited, set the name of the channel
     * to the text input for join
     */
    invite(channel: string) {
      this.channelName = channel;
    }
  },

  computed: {
    /**
     * filter the channels list public with the input of the user
     */
    filterByTerm(): Channel[] {
      if (this.channels && Array.isArray(this.channels)) {
        const result = this.channels.filter((channel: { name: string; }) => {
          return channel.name.toLowerCase().includes(this.searchTerm);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    },
    /**
     * filter the channels list invited with the input of the user
     */
    filterByTermInvite(): Channel[] {
      if (this.channelsInvite && Array.isArray(this.channelsInvite)) {
        const result = this.channelsInvite.filter((channel: { name: string; }) => {
          return channel.name.toLowerCase().includes(this.channelName);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    }
  },
});

</script>

<style lang="scss" scoped>

.main {
  backdrop-filter: blur(2px);
  margin: 5px;
  width: 85%;
  height: calc(100% - 80px);
  padding: 0;
  border-radius: 5px;
  position: fixed;
  z-index: 2;
}

.newPopChannel {
  align-content: center;
  text-align: center;
  color: white;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  width: 60%;
  height: auto;
  max-height: 40%;
  min-height: 40%;
  background-color: #1e1e21;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.optionNewChannel {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.joinChannel {
  width: 30%;
  padding-left: 1.5%;
}

.createChannel {
  width: 30%;
  padding-left: 1.5%;
}

.publicList {
  width: 30%;
  height: 100%;
}

.topChannel {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.goOut {
  margin-right: 5px;
  font-size: 30px;
}

.bloc-new {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-channel {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgList-new {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

input[type=text] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

input[type=password] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

select {
  /* Reset */
  margin-top: 5px;
  margin-bottom: 5px;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 100%;
  height: 30px;
  padding: 5px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
  no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, gray 3em, gray 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: transparent;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}


.buttonSub {
  margin: 5px;
  appearance: none;
  border: none;
  font-size: inherit;
  border-radius: 2em;
  background: blue;
  color: white;
  display: initial;
  align-items: center;
  text-align: center;
  width: 40%;
}

</style>
