<template>
  <div class="main">
    <div class="newPop">
      <div class="top">
        <div style="margin-left: 5px">start a new discussion</div>
        <div @click="goOut" class="goOut">-</div>
      </div>
      <input v-model="searchTerm" type="text" placeholder="users" :maxlength="40">
      <div v-if="users">
        <div v-for="user in filterByTerm" :key="user.id">
          <div v-if="user.login !== userLogin" class="bloc-new"  @click="newDiscuss(user.login)">
            <div class="name-new">
              {{user.username}}
            </div>
            <a :href="'/user/' + user.login">
              <img :src="user.avatar_file" class="imgList-new" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import store from "@/store";

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}
export default defineComponent({
  name: "newPrivate-vue",

  props: {userLogin: String},
  data() {
    return {
      searchTerm: '',
      users: [] as User[],
      store: store,
    };
  },
  async created() {
    const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/get_all';
    try {
      const usersList = await fetch(requestUrl, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      });

      if (!usersList.ok) {
        // for error
        //console.log('error from newPrivate code :' + usersList.status);
        this.users = [] as User[];
        return onerror;
      }
      const content = await usersList.json();
      if (content.error) {
        // for error
        //console.log('error from newPrivate code :' + this.users.error);
        this.users = [] as User[];
        return onerror;
      }
      this.users = content;
    } catch (error) {
      // for error
      //console.log('error: impossible to get the users list');
      this.users = [] as User[];
      return onerror;
    }
  },
  methods: {
    /**
     * start a new discussion with a user from the list
     */
    newDiscuss(login: string) {
      this.$emit('login', login);
    },
    /**
     * close the window
     */
    goOut() {
      this.$emit('error', 'out');
    },
  },
  computed: {
    /**
     * reduce the users list according to the input on the user
     */
    filterByTerm(): User[] {
      if (this.users) {
        const result = this.users.filter((user: User) => {
          return user.username.toLowerCase().includes(this.searchTerm);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    }
  },
});

</script>

<style lang="scss" scoped>

.main {
  backdrop-filter: blur(2px);
  margin: 5px;
  width: 85%;
  height: calc(100% - 80px);
  padding: 0;
  border-radius: 5px;
  position: fixed;
  z-index: 2;
}

.newPop {
  align-content: center;
  text-align: center;
  color: white;
  overflow: auto;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  width: 30%;
  max-height: 40%;
  min-height: 40%;
  background-color: #1e1e21;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goOut {
  margin-right: 5px;
  font-size: 30px;
}

.bloc-new {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-new {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgList-new {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

input[type=text] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: gray;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

</style>