<template>
  <div class ="channels-list">
    <div class="bloc-channel" style="background-color: black">
      <div style="overflow: hidden;">channel</div>
      <div @click="newChannel" class="newDiscuss">+</div>
    </div>
    <div class="channelOver">
      <div v-for="channel in channelList" :key="channel.id" class="bloc-channel">
        <div class="name-channel"  @click="getChannel(channel.channel.name)">
          {{channel.channel.name}}
        </div>
        <div class="type-channel"  @click="settings(channel.channel.name)">
          <img src="../../assets/settings.png" class="imgListChannel" draggable="false"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

interface Channel {
  id: number;
  name: string;
  pass: string;
  type: string;
}
export default defineComponent({
  name: "channelsList-vue",

  data() {
    return {
      channelList: {} as Channel[],
    };
  },
  async created() {
    const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMember/channels';
    try {
      const  response = await fetch(requestUrl, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      })

      if (!response.ok) {
          // for error
         // console.log('error from privDiscussionList code :' + response.status);
        this.$notify({
          title: "channel Discussion",
          text: 'Dont be shy, join a new channel',
          type: 'info',
        })
        this.channelList =  {} as Channel[];
        return onerror;
      }
      const content = await response.json();
      if (content.error) {
        // for error
        // console.log('error from channelList code :' + this.channelList.error);
        this.channelList =  {} as Channel[];
        return onerror;
      }
      this.channelList = content;
    } catch (error) {
      // for error
      // console.log('error: impossible to get the channel discussion list');
      this.channelList =  {} as Channel[];
      return onerror;
    }
  },
  methods: {
    /**
     * let the user enter into a channel that it is member
     */
    getChannel(channelName: string) {
      this.$emit('channelName', channelName);
    },
    /**
     * open the window tho create / join a new channel
     */
    newChannel() {
      this.$emit('newChannel', 'channel');
    },
    /**
     * open the window to edit the channel
     */
    settings(channel: string) {
      this.$emit('settings', channel);
    },
  },
});

</script>

<style lang="scss" scoped>

.channels-list {
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  border-top: 2px solid blueviolet;
}

.bloc-channel {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 4px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-channel {
  max-width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.type-channel {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channelOver {
  overflow: auto;
}

.imgListChannel {
  align-content: center;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.newDiscuss {
  height: 100%;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

</style>