<template>
  <div class="mainSettings">
    <div class="newPopChannelSettings">
      <div class="topChannelSettings">
        <div style="margin-left: 5px">channel settings : {{channel}}</div>
        <button class="leaveButton" @click="leave">leave</button>
        <div @click="goOut" class="goOutSettings">-</div>
      </div>
      <div v-if="userType === 'normal'">
        you are not an admin member
      </div>
      <div class="optionNewChannelSettings">
        <div v-if="userType !== 'normal'" class="publicListSettings">
          <div>channel members</div>
          <input v-model="searchTerm" type="text" placeholder="name" :maxlength="40">
          <select v-model="selected">
            <option disabled value="">action</option>
            <option v-if="userType === 'owner'">promote</option>
            <option v-if="userType === 'owner'">demote</option>
            <option>mute</option>
            <option>kick</option>
            <option>ban</option>
          </select>
          <input v-if="selected === 'mute'" v-model="time" type="number" placeholder="time" min="1" max="42">
          <div v-if="Members" style="height: 84%; overflow: auto">
            <div v-for="user in filterByTerm" :key="user.id">
              <div v-if="user.login !== userLogin" class="bloc-new"  @click="privateAction(user.login)">
                <div class="name-new">
                  {{user.username}}
                </div>
                <a :href="'/user/' + user.login">
                  <img :src="user.avatar_file" class="imgList-new" />
                </a>
              </div>
            </div>
          </div>
        </div>
        <div v-if="userType !== 'normal'" style="max-width: 30%; display: flow;">
          <div v-if="userType === 'owner'" class="passwordSettings">
            <div>edit password</div>
            <input v-model="newPass" type="text" placeholder="new Password" @keyup.enter="editPassword" ref="newPassword" :maxlength="40">
          </div>
          <div class="inviteUser" v-if="channelType === 'private' && userType !== 'normal'">
            <div> invite users</div>
            <input v-model="searchInvite" type="text" placeholder="name" :maxlength="40">
            <div style="height: 57%; overflow: auto">
              <div v-for="user in filterByTermInvite" :key="user.id">
                <div v-if="user.login !== userLogin" class="bloc-new"  @click="inviteUser(user.login)">
                  <div class="name-new">
                    {{user.username}}
                  </div>
                  <a :href="'/user/' + user.login">
                    <img :src="user.avatar_file" class="imgList-new" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="joinBlockSettings" style="max-width: 30%; height: 84%; display: grid; justify-content: end;">
          <div>play / block</div>
          <input v-model="searchTermPublic" type="text" placeholder="name" :maxlength="40">
          <select v-model="selectedPublic">
            <option disabled value="">action</option>
            <option>normal</option>
            <option>custom</option>
            <option>block</option>
            <option>unblock</option>
          </select>
          <div v-if="MembersPublic" style="height: 84%; overflow: auto">
            <div v-for="user in filterByTermPublic" :key="user.id">
              <div v-if="user.login !== userLogin" class="bloc-new"  @click="publicAction(user.login)">
                <div class="name-new">
                  {{user.username}}
                </div>
                <a :href="'/user/' + user.login">
                  <img :src="user.avatar_file" class="imgList-new" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import socket from "@/service/socket";

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}
interface Channel {
  id: number;
  name: string;
  pass: string;
  type: string;
}

interface channelMember{
  id: number;
  channel: Channel;
  user: User;
  type: string;
  register: boolean;
  muted: boolean;
  blocked: boolean;
  end_mute: Date; // mettre la date
}
export default defineComponent({
  name: "channelsSettings-vue",

  props: {
    userLogin: String,
    channel: String,
  },

  data() {
    return {
      channelType: '',
      searchTerm: '',
      searchInvite: '',
      searchTermPublic: '',
      userType: '',
      userInfo: {} as channelMember,
      selected: '',
      selectedPublic: '',
      time: {} as number,
      newPass: '',
      users: [] as User[],
      Members: [] as User[],
      MembersPublic: [] as User[],
    };
  },
  async created() {
    const requestLink = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMember/Users/' + this.channel;
    const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMember/userInfo/' + this.channel;
    try {
      const userInfo = await fetch(requestUrl, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      });

      if (!userInfo.ok) {
        // for error
        // console.log('error from channelsSettings code :' + userInfo.status);
        if (userInfo.status === 403)
          this.$emit('error', 'out');
        this.userInfo = {} as channelMember;
        this.userType= '';
        return onerror;
      }
      const content = await userInfo.json();
      if (content.error) {
        // for error
        // console.log('error from channelsSettings code :' + this.userInfo.error);
        this.userInfo = {} as channelMember;
        return onerror;
      }
      this.userInfo = content;
      if (this.userInfo)
        this.userType = this.userInfo.type;
    } catch (error) {
      // for error
      // console.log('error: impossible to get the user info');
      this.userInfo = {} as channelMember;
      this.userType = '';
    }

    try {
      const channelMembers = await fetch(requestLink, {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      });

      if (!channelMembers.ok) {
        // for error
        // console.log('error from channelsSettings code :' + channelMembers.status);
        this.Members = [] as User[];
        this.MembersPublic = [] as User[];
        return onerror;
      }
      const content = await channelMembers.json();
      if (content.error) {
        // for error
        // console.log('error from channelsSettings code :' + this.userInfo.error);
        this.Members = [] as User[];
        return onerror;
      }
      this.Members = content;
      if (this.Members)
        this.MembersPublic = this.Members;
      await this.getChannelType();
      if (this.channelType === 'private')
        await this.getUsersList();
    } catch (error) {
      // for error
      // console.log('error: impossible to get the member list');
      this.Members = []  as User[];
      this.MembersPublic = []  as User[];
      return onerror;
    }
  },
  methods: {
    /**
     * get the channel type to allow or not some actions
     */
    async getChannelType() {
      if (!this.channel) {
        return;
      }
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/' + this.channel;
      try {
        const resp = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!resp.ok) {
          // for error
          // console.log('error from channelsSettings code :' + resp.status);
          this.channelType = '';
          return onerror;
        }
        const channelInfo = await resp.json();
        if (channelInfo.error) {
          // for error
          // console.log('error from channelsSettings code :' + channelInfo.error);
          this.channelType = '';
          return onerror;
        }
        if (channelInfo)
          this.channelType = channelInfo.type;

      } catch (error) {
        // for error
        // console.log('error: impossible to get the channel type');
        this.channelType = '';
        return onerror;
      }
    },

    /**
     * leave the channel
     */
    async leave() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/deleteMember';
      try {
        const resp = await fetch(requestUrl, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            channelName: this.channel,
            login: this.userLogin,
            pass: null,
            type: 'normal',
          }),
          credentials: 'include',
        });

        if (!resp.ok) {
          // for error
          // console.log('error from channelsSettings code :' + resp.status);
          return onerror;
        }
        const content = await resp.json();
        if (content.error) {
          // for error
          // console.log('error from channelsSettings error :' + content.error);
          return onerror;
        }
        this.$emit('error', 'leave');
      } catch (error) {
        // for error
        // console.log('error: impossible to get leave the channel');
        return onerror;
      }
    },

    /**
     * get the users list in case of the channel is private to invite them
     */
    async getUsersList() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/users/get_all';
      try {
        const usersList = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!usersList.ok) {
          // for error
          // console.log('error from channelSettings code :' + usersList.status);
          this.users = [] as User[];
          return onerror;
        }
        const content = await usersList.json();
        if (content.error) {
          // for error
          //  console.log('error from channelSettings code :' + this.users.error);
          this.users =  [] as User[];
          return onerror;
        }
        this.users = content;
        this.clearUserList();
      } catch (error) {
        // for error
        // console.log('error: impossible to get the users list');
        this.users =  [] as User[];
        return onerror;
      }
    },
    /**
     * remove the members from the user list to invite
     */
    clearUserList() {
      if (this.users && this.Members) {
        this.users = this.users.filter((userA: User) => {
          return !this.Members.some((userB: User) => userA.login === userB.login);
        });
      }
    },
    /**
     * close the window
     */
    goOut() {
      this.$emit('error', 'out');
    },

    /**
     * execute restricted actions allowed only to admin members (kick / ban / mute / promote / demote)
     */
    async privateAction(login: string) {
      if (!this.selected)
        return ;
      if (this.selected !== 'mute') {
        this.time = {} as number;
      } else {
        if (this.time < 1 || this.time > 42)
          return
      }
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/' + this.selected;
      try {
        const resp = await fetch(requestUrl, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            channelName: this.channel,
            login: login,
            pass: '',
            type: 'normal',
            mute: this.time,
          }),
          credentials: 'include',
        });
        if (!resp.ok || resp.status !== 200) {
          // for error
          //console.log('error from newChannel code :' + resp.status);
          if (resp.status === 403)
            this.$emit('error', 'out');
          return onerror;
        }
        const content = await resp.json();
        if (content.error) {
          // for error
          //console.log('error from newChannel error :' + content.error);
          return onerror;
        }
        if (!content) {
          // for error
          //console.log('error from newChannel');
          return onerror;
        }
        this.$emit('error', 'refresh');
      } catch (error) {
        // for error
        //console.log(error);
        return onerror;
      }
    },

    /**
     * change the password (admin only)
     */
    async editPassword() {
      const passRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&+=])(?!.*\s).{8,20}$/;
      if (this.newPass && !passRegex.test(this.newPass)) {
        this.$notify({
          title: "Bad format",
          text: 'password : 1 uppercase, 1 lowercase, 1 digit, 1 special character, between 8 and 20',
          type: 'error',
        });
       return ;
      }
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/password';
      try {
        const value = await fetch(requestUrl,{
          method: 'PATCH',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            channelName: this.channel,
            password: this.newPass,
          }),
          credentials: 'include',
        });
        this.newPass = '';
        if (!value.ok) {
          // for error
          //console.log('error from channelSettings code :' + value.status);
          return onerror;
        }
        const content = await value.json();
        if (content.error) {
          // for error
          //console.log('error from channelSettings message :' + value.status);
          return onerror;
        }
        this.$emit('error', 'refresh');
      } catch (error) {
        // for error
        //console.log('error: impossible to send message');
        return onerror;
      }
    },
    /**
     * for private channel only, allow tho invite users to the channel (admin only)
     */
    async inviteUser(login: string) {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channel/invite';
      try {
        const resp = await fetch(requestUrl, {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            channelName: this.channel,
            login: login,
            pass: '',
            type: 'normal',
            mute: '',
          }),
          credentials: 'include',
        });
        if (!resp.ok || resp.status !== 200) {
          // for error
          //console.log('error from invite code :' + resp.status);
          if (resp.status === 403)
            this.$emit('error', 'out');
          return onerror;
        }
        const content = await resp.json();
        if (content.error) {
          // for error
          //console.log('error from invite error :' + content.error);
          return onerror;
        }
        if (!content) {
          // for error
          //console.log('error from invte');
          return onerror;
        }
        this.$emit('error', 'refresh');
      } catch (error) {
        // for error
        //console.log(error);
        return onerror;
      }
    },

    /**
     * public actions (allow to every member) allow them to do some action with a
     * specific user (play game / block / unblock)
     */
    async publicAction(login: string) {
      if (this.selectedPublic === 'normal')
        await this.play(login, 'Classic');
      else if (this.selectedPublic === 'custom')
        await this.play(login, 'Custom');
      else if (this.selectedPublic === 'block')
        await this.blockUser(login);
      else if (this.selectedPublic === 'unblock')
        await this.unblockUser(login)
    },
    /**
     * block a specific user from the channel members list
     */
    async blockUser(login: string) {
      if (!login)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/block';
      try {
        const value = await fetch(requestUrl,{
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({blocked: login}),
          credentials: 'include',
        });
        if (!value.ok) {
          //console.log('error from channelSettings code :' + value.status);
          return onerror;
        }
        this.$emit('error', 'refresh');
      } catch (error) {
       // console.log('error: impossible to send message');
        return onerror;
      }
    },
    /**
     * unblock a specific user from the channel members list
     */
    async unblockUser(login: string) {
      if (!login)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/block/undo';
      try {
        const value = await fetch(requestUrl,{
          method: 'DELETE',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({blockedLogin: login}),
          credentials: 'include',
        });
        if (!value.ok) {
          //console.log('error from channelSettings code :' + value.status);
          return onerror;
        }
        this.$emit('error', 'refresh');
      } catch (error) {
        //console.log('error: impossible to send message');
        return onerror;
      }
    },

    /**
     * start a play request to a specific user from the channel members list
     */
    async play(login: string, type: string) {
      socket.socket?.emit('game_lobby', { action: 'invite', param: {mode: type, guest: login}},
          (response: {success: boolean, message: string}) => {
            if (response.success) {
              this.$router.push('/lobby/' + response.message)
            } else {
              // console.log(`Refused reason: ${response.message}`)
            }
          })
      // send play request to the user
    }
  },

  computed: {
    /**
     * reduce the member list according to the user input (admin part)
     */
    filterByTerm() {
      if (this.Members) {
        const result = this.Members.filter((user: User) => {
          return user.username.toLowerCase().includes(this.searchTerm);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    },
    /**
     * reduce the member list according to the user input (public part)
     */
    filterByTermPublic() {
      if (this.MembersPublic) {
        const result = this.MembersPublic.filter((user: User) => {
          return user.username.toLowerCase().includes(this.searchTermPublic);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    },
    /**
     * reduce the user list according to the user input (admin part / invite)
     */
    filterByTermInvite() {
      if (this.users) {
        const result = this.users.filter((user: User) => {
          return user.username.toLowerCase().includes(this.searchInvite);
        });
        if (result)
          return result;
        else
          return [];
      }
      return [];
    },
  },
});

</script>

<style lang="scss" scoped>

.mainSettings {
  backdrop-filter: blur(2px);
  margin: 5px;
  width: 85%;
  height: calc(100% - 80px);
  padding: 0;
  border-radius: 5px;
  position: fixed;
  z-index: 1;
}

.newPopChannelSettings {
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin: 0;
  padding: 5px;
  width: 60%;
  max-height: 40%;
  background-color: #1e1e21;
  display: flow;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.optionNewChannelSettings {
  display: flex;
  height: 80%;
  flex-direction: row;
  justify-content: space-around;
}

.joinChannelSettings {
  width: 30%;
  padding-left: 1.5%;
}

.createChannelSettings {
  width: 30%;
  padding-left: 1.5%;
}

.publicListSettings {
  width: 30%;
  height: 84%;
  display: grid;
  justify-content: end;
}

.topChannelSettings {
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.goOutSettings {
  margin-right: 5px;
  font-size: 30px;
}

.bloc-newSettings {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-newSettings {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgList-newSettings {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

input[type=text] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

input[type=password] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

input[type=number] {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: grey;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 20px;
  }
}

select {
  /* Reset */
  margin-top: 5px;
  margin-bottom: 5px;
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 100%;
  height: 30px;
  padding: 5px;
  background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
  no-repeat right 0.8em center / 1.4em,
  linear-gradient(to left, gray 3em, gray 3em);
  color: white;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* <option> colors */
  option {
    color: inherit;
    background-color: transparent;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
}


.leaveButton {
  margin: 5px;
  padding-left: 5px;
  padding-right: 5px;
  appearance: none;
  border: none;
  font-size: inherit;
  border-radius: 2em;
  background: red;
  color: white;
  display: initial;
  align-items: center;
  text-align: center;
  cursor: wait;
  height: 20%;
  width: fit-content;
}

.inviteUser {
  max-height: 65%;
  overflow-y: auto;
}

.joinBlockSettings {
  max-width: 30%;
}

.bloc-new {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-new {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgList-new {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

</style>