<template>
  <div class="list">
    <priv-discuss-list-vue  :userLogin='userLogin' @login="getLogin" @newPrivate="newDiscussion"/>
    <channels-list-vue @channelName="getChannelName" @newChannel="newDiscussion" @settings="settings"/>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import PrivDiscussListVue from "@/components/chat/privDiscussList.vue";
import ChannelsListVue from "@/components/chat/channelsList.vue";

export default defineComponent({
  name: "chatList-vue",
  props: {userLogin: String},
  components: {ChannelsListVue, PrivDiscussListVue},
  methods: {
    /**
     * get the login to open the discussion from the private discuss list
     and send it to the parent component
     */
    getLogin(login: string) {
      this.$emit('login', login);
    },
    /**
     * get the channel name to open the discussion from the channel list
     * and send it to the parent component
     */
    getChannelName(channelName: string) {
      this.$emit('channelName', channelName);
    },
    /**
     * send to the parent component the info that a new discussion (private or channel)
     * is pending
     */
    newDiscussion(type: string) {
      this.$emit('newDiscussion', type);
    },
    /**
     * send to the parent component the signal to open the channel setting
     */
    settings(channelName: string) {
      this.$emit('settings', channelName);
    }
  }
});

</script>

<style lang="scss" scoped>

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 5px;
  padding: 10px;
  height: 99%;
  width: 15%;
  border-radius: 5px;
  background-color: #2d2d33;
}

</style>