<template>
  <div class="inputDiscussChannel">
    <input v-model="data.message" class="textInputChannel" placeholder="message" required  :maxlength="1000">
    <button class="w-10% btn btn-lg btn-primary" @click="send">Submit</button>
  </div>
</template>

<script lang="ts">
import {defineComponent, reactive} from 'vue';
import {useRouter} from "vue-router";

export default defineComponent({
  name: "inputDiscussChannel-vue",

  props: {
    userLogin: String,
    channelName: String,
  },
  setup() {
    const data = reactive({
      sender: '',
      channel: '',
      message: '',
    })
    const router = useRouter();
    return {
      data,
      router,
    }
  },
  methods: {
    /**
     * return to the parent component the login
     */
    getLogin(login: string) {
      this.$emit('login', login);
    },
    /**
     * send the message
     */
    async send() {
      if (this.data.message.length < 1 || this.data.message.length > 1000)
        return ;
      if (!(typeof this.userLogin === 'string'))
        return ;
      const login: string = this.userLogin;
      this.data.sender = login;
      if (this.channelName)
        this.data.channel = this.channelName;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMsg/';

      try {
        const value = await fetch(requestUrl,{
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(this.data),
          credentials: 'include',
        });
        if (value.ok)
          this.$emit('message', 'message');
        else {
          // for error
          // console.log('error from inputDiscussChannel code :' + value.status);
          return onerror;
        }
        this.data.message = '';
      } catch (error) {
        // for error
        // console.log('error: impossible to send message');
        return onerror;
      }
    }
  }
});

</script>

<style lang="scss" scoped>

.inputDiscussChannel {
  margin: 5px;
  padding: 5px;
  height: 9%;
  width: 99%;
  border-radius: 5px;
  background-color: #2d2d33;
  color: white;
  display: flex;
  justify-content: space-between;
}

.textInputChannel {
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border: 1px solid black;
  overflow: auto;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background-color: #2d2d33;
  color: white;
  padding: 5px;
}

</style>
