<template>
  <div class="inputDiscuss">
    <input v-model="data.message" class="textInput" placeholder="message" required :maxlength="1000">
    <button class="playButton" @click="play('Classic')">normal</button>
    <button class="playButton" @click="play('Custom')">custom</button>
    <button class="blockButton" @click="block">block</button>
    <button class="unblockButton" @click="unblock">unblock</button>
    <button class="submitButton" @click="send">Submit</button>
  </div>
</template>

<script lang="ts">
import {defineComponent, reactive} from 'vue';
import {useRouter} from "vue-router";
import socket from "@/service/socket";

export default defineComponent({
  name: "inputDiscuss-vue",

  props: {
    userLogin: String,
    chatWith: String,
  },
  setup() {
    const data = reactive({
      senderLogin: '',
      receiverLogin: '' as string,
      message: '',
    })
    const router = useRouter();
    return {
      data,
      router,
    }
  },
  methods: {
    /**
     * send to the parent component the user login
     * @param login
     */
    getLogin(login: string) {
      this.$emit('login', login);
    },
    /**
     * send the message
     */
    async send() {
      if (this.data.message.length < 1 || this.data.message.length > 1000)
        return ;
      if (!(typeof this.userLogin === 'string'))
        return ;
      const login: string = this.userLogin;
      this.data.senderLogin = login;
      if (this.chatWith)
        this.data.receiverLogin = this.chatWith;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/privMsg/';

      try {
        const value = await fetch(requestUrl,{
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify(this.data),
          credentials: 'include',
        });
        if (value.ok)
          this.$emit('message', 'message');
        else {
          // for error
          // console.log('error from inputDiscuss code :' + value.status);
          return onerror;
        }
        this.data.message = '';
      } catch (error) {
        // for error
        // console.log('error: impossible to send message');
        return onerror;
      }
    },
    /**
     * start a game with the user
     */
    async play(type: string) {
      socket.socket?.emit('game_lobby', { action: 'invite', param: {mode: type, guest: this.chatWith}},
          (response: {success: boolean, message: string}) => {
            if (response.success) {
              this.$router.push('/lobby/' + response.message)
            } else {
              // console.log(`Refused reason: ${response.message}`)
            }
          })
      // send play request to the user
    },
    /**
     * block the user
     */
    async block() {
      if (!this.chatWith)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/block';
      try {
        const value = await fetch(requestUrl,{
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({blocked: this.chatWith}),
          credentials: 'include',
        });
        if (!value.ok) {
          // for error
          // console.log('error from inputDiscuss code :' + value.status);
          return onerror;
        }
        this.$emit('message', 'ok');
      } catch (error) {
        // for error
        // console.log('error: impossible to send message');
        return onerror;
      }
    },
    /**
     * unblock the user
     */
    async unblock() {
      if (!this.chatWith)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/block/undo';
      try {
        const value = await fetch(requestUrl,{
          method: 'DELETE',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({blockedLogin: this.chatWith}),
          credentials: 'include',
        });
        if (!value.ok) {
          // for error
          // console.log('error from inputDiscuss code :' + value.status);
          return onerror;
        }
        this.$emit('message', 'ok');
      } catch (error) {
        // for error
        // console.log('error: impossible to send message');
        return onerror;
      }
    },
  }
});

</script>

<style lang="scss" scoped>

.inputDiscuss {
  margin: 5px;
  padding: 5px;
  height: 9%;
  width: 99%;
  border-radius: 5px;
  background-color: #2d2d33;
  display: flex;
  justify-content: space-between;
  color: white;
}

.textInput {
  height: 100%;
  width: 70%;
  border-radius: 5px;
  border: 1px solid black;
  overflow: auto;
  word-wrap: break-word;
  text-overflow: ellipsis;
  background-color: #2d2d33;
  color: white;
  padding: 5px;
}

.unblockButton {
  height: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px 20px;
  background-color: #119822;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.unblockButton:hover {
  background-color: #1E441E;
}

.playButton {
  height: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px 20px;
  background-color: #119822;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.playButton:hover {
  background-color: #1E441E;
}

.blockButton {
  height: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px 20px;
  background-color: #E84855;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.blockButton:hover {
  background-color: #D9594C;
}

.submitButton {
  height: 60%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 10px 20px;
  background-color: #2892D7;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #173753;
}

</style>
