<template>
  <div class="messages" ref="message">
    <div v-for="message in messagesList" :key="message.id" class="messagesLoop" :id="message.sender.id">
      <div v-if="message.sender.login !== userLogin" class="message-left">
        <div class="message-content" v-if="!isBlocked">
          {{message.message}}
        </div>
        <div class="message-content" style="font-style: oblique" v-else>
          {{message.message}}
        </div>
          <a :href="'/user/' + message.sender.login" class="userProfile">
          <div class="userName">
            {{message.sender.username}}
          </div>
            <img :src="message.sender.avatar_file" class="img-messages"/>
          </a>
      </div>
      <div v-else class="message-right">
        <div class="message-content">
          {{message.message}}
        </div>
        <a :href="'/user/' + message.sender.login">
          <img alt="img" :src="message.sender.avatar_file" class="img-messages"/>
        </a>
      </div>
    </div>
    <div class="messagesLoop" :style="{visibility: 'hidden'}" id="bottom" ref="doudou"></div>
    <button @click="scrollToBottom" class="goToBottomButton">
      <img alt="arrow" src="../../assets/arrow.svg" style="width: 20px; height: 20px"/>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import socket from "@/service/socket";

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}

interface privMessage {
  id: number;
  sender: User;
  receiver: User;
  message: string;
}

export default defineComponent({
  name: "messages-vue",

  props: {
    userLogin: String,
    chatWith: String,
  },

  data() {
    return {
      isBlocked: false,
      messagesList: {} as privMessage[],
      newMessages: {} as privMessage[],

    };
  },
  async created() {
    await this.getMessages();
    this.scrollToBottom();
  },
  mounted() {
    if (!(typeof this.userLogin === 'string'))
      return;
    const login: string = this.userLogin;
    socket.socket?.on(login, async (data) => {
      if (data.login === this.chatWith) {
        await this.getNewMessages();
        this.addNewMessages();
        setTimeout(this.scrollToBottom, 100);
      } else {
        this.$notify({
          title: "New Private Discussion",
          text: 'There is a new message from ' + data.username,
          type: 'info',
        });
      }
    })
  },
  unmounted() {
    // Deinitialize socket event
    if (!(typeof this.userLogin === 'string'))
      return;
    const login: string = this.userLogin;
    socket.socket?.off(login);
  },
  methods: {
    /**
     * get all messages of a private discussion
     */
    async getMessages() {
      this.messagesList =  {} as privMessage[];
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/privMsg/discussion/' + this.chatWith;
      try {
        const messages = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!messages.ok) {
          // for error
          // console.log('error from messages code :' + messages.status);
          this.$notify({
            title: "Private Discussion",
            text: 'There is no message, be lucky and send the first one',
            type: 'info',
          });
          this.messagesList =  {} as privMessage[];
          return onerror;
        }
        const content = await messages.json();
        if (content.error) {
          // for error
          // console.log('error from messages code :' + this.messagesList.error);
          this.$notify({
            title: "Private Discussion",
            text: 'There is no message, be lucky and send the first one',
            type: 'info',
          });
          this.messagesList =  {} as privMessage[];
          return onerror;
        }
        this.messagesList = content;
        await this.getBlockedUsers();
      } catch (error) {
        // for error
        // console.log('error: impossible to get the private messages');
        this.messagesList =  {} as privMessage[];
        return onerror;
      }
    },

    /**
     * get new messages to push to the list
     */
    async getNewMessages() {
      this.newMessages =  {} as privMessage[];
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/privMsg/discussion/' + this.chatWith;
      try {
        const messages = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!messages.ok) {
          // for error
          // console.log('error from messages code :' + messages.status);
          this.newMessages =  {} as privMessage[];
          return onerror;
        }
        const content = await messages.json();
        if (content.error) {
          // for error
          // console.log('error from messages code :' + this.messagesList.error);
          this.newMessages =  {} as privMessage[];
          return onerror;
        }
        this.newMessages = content;
      } catch (error) {
        // for error
        // console.log('error: impossible to get the private messages');
        this.newMessages =  {} as privMessage[];
        return onerror;
      }
    },
    /**
     * in case of the number of messages if uge, allow to  scroll to the last one
     */
    scrollToBottom() {
      const element = this.$refs.doudou as HTMLDivElement;
      if (element)
        element.scrollIntoView();
    },
    /**
     * find if the user is block to change the print of messages
     */
    async getBlockedUsers() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/block/isBlocked/' + this.chatWith;
      try {
        const value = await fetch(requestUrl,{
          method: 'GET',
          headers: {'Content-Type': 'application/json'},
          credentials: 'include',
        });
        if (!value.ok) {
          // for error
          // console.log('error from message code :' + value.status);
          this.isBlocked = false;
          return onerror;
        }
        const ret = await value.json();
        if (ret.error) {
          // for error
          // console.log('error from message message :' + ret.error);
          this.isBlocked = false;
          return onerror;
        }
        this.isBlocked = true;
      } catch (error) {
        // for error
        // console.log('error: user is not blocked');
        this.isBlocked = false;
        return onerror;
      }
    },
    /**
     * add new messages to the list
     */
    addNewMessages() {
      if (this.messagesList.length > 0 && this.newMessages.length > 0) {
        this.newMessages.forEach((message: privMessage) => {
          const existsInA = this.messagesList.some((row: privMessage) => row.id === message.id);
          if (!existsInA) {
            this.messagesList.push(message);
          }
        });
      } else if (this.newMessages.length > 0 && !(this.messagesList.length > 0))
        this.messagesList = this.newMessages;
    },
  },
});
</script>

<style lang="scss" scoped>

.messages {
  margin: 5px;
  padding: 5px;
  height: 89%;
  width: 99%;
  max-width: 99%;
  border-radius: 5px;
  background-color: #2d2d33;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;
  scroll-snap-align: end;
}

.img-messages {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.messagesLoop {
  justify-content: space-between;
  width: initial;
}

.message-right {
  color: white;
  display: flex;
  justify-content: right;
  background-color: cornflowerblue;
  flex-direction: row;
  padding: 5px;
  max-width: 70%;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
  right: 0;
  float: right;
}

.userProfile {
  color: #333333;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.message-left {
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  max-width: 70%;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
  left: 0;
  float: left;
}

.userName {
  margin-right: 5px;
}

.message-content {
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 5px;
  user-select: text;
}

.bottomContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.goToBottomButton {
  position: fixed;
  bottom: 10%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.goToBottomButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

</style>