<template>
  <div class="messagesChannel" ref="test" id="coucou">
    <div v-for="message in messagesList" :key="message.id" class="messagesLoopChannel" :id="message.sender.id">
      <div v-if="message.sender.login !== userLogin" class="message-leftChannel">
        <div class="message-contentChannel">
          {{message.message}}
        </div>
        <a :href="'/user/' + message.sender.login" class="userProfileChannel">
          <div class="userNameChannel">
            {{message.sender.username}}
          </div>
          <img :src="message.sender.avatar_file" class="img-messagesChannel"/>
        </a>
      </div>
      <div v-else class="message-rightChannel">
        <div class="message-contentChannel">
          {{message.message}}
        </div>
        <a :href="'/user/' + message.sender.login">
          <img :src="message.sender.avatar_file" class="img-messagesChannel"/>
        </a>
      </div>
    </div>
    <div class="messagesLoop" :style="{visibility: 'hidden'}" id="bottom" ref="doudou"></div>
    <button @click="scrollToBottom" class="goToBottomButton">
      <img alt="arrow" src="../../assets/arrow.svg" style="width: 20px; height: 20px"/>
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import socket from '@/service/socket';

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}
interface Channel {
  id: number;
  name: string;
  pass: string;
  type: string;
}

interface channelMessage {
  id: number;
  channel: Channel;
  sender: User;
  message: string;
}

export default defineComponent({
  name: "messagesChannel-vue",
  el: "#coucou",

  props: {
    userLogin: String,
    channelName: String,
  },

  data() {
    return {
      messagesList: {} as channelMessage[],
      newMessages: {} as channelMessage[],
    };
  },
  async created() {
    this.messagesList = {} as channelMessage[];
    if (!this.channelName || this.channelName.length < 0 || !this.channelName)
      return;
    await this.getMessages();
    this.scrollToBottom();
  },
  async mounted() {
    // Initialize socket event
    socket.socket?.on("#" + this.channelName, async () => {
      if (!this.channelName || this.channelName.length < 0 || !this.channelName)
        return;
      await this.getNewMessages();
      this.addNewMessages();
      setTimeout(this.scrollToBottom, 100);
    })
    setTimeout(this.scrollToBottom, 50);
  },
  unmounted() {
    // Deinitialize socket event
    socket.socket?.off("#" + this.channelName);
  },
  methods: {
    /**
     * get all messages of a channel
     */
    async getMessages() {
      this.messagesList =  {} as channelMessage[];
      if (!this.channelName || this.channelName.length < 0 || !this.channelName)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMsg/discussion/' + this.channelName;
      try {
        const messages = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!messages.ok) {
          // for error
          // console.log('error from messagesChannel code :' + messages.status);
          if (messages.status === 403)
            this.$emit('error', 'error');
          this.$notify({
            title: "Channel Discussion",
            text: 'There is no message, be lucky and send the first one',
            type: 'info',
          });
          this.messagesList =  {} as channelMessage[];
          return onerror;
        }
        const content = await messages.json();
        if (content.error) {
          // for error
          // console.log('error from messagesChannel code :' + this.messagesList.error);
          this.$notify({
            title: "Channel Discussion",
            text: 'There is no message, be lucky and send the first one',
            type: 'info',
          });
          this.messagesList =  {} as channelMessage[];
          return onerror;
        }
        this.messagesList = content;
        if (this.messagesList.length < 1)
          this.messagesList =  {} as channelMessage[];
      } catch (error) {
        // for error
        // console.log('error: impossible to get the channel messages');
        this.messagesList =  {} as channelMessage[];
        return onerror;
      }
    },

    /**
     * get new messages to add it to the current message list
     */
    async getNewMessages() {
      this.newMessages =  {} as channelMessage[];
      if (!this.channelName || this.channelName.length < 0 || !this.channelName)
        return;
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/channelMsg/discussion/' + this.channelName;
      try {
        const messages = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!messages.ok) {
          // for error
          // console.log('error from messagesChannel code :' + messages.status);
          if (messages.status === 403)
            this.$emit('error', 'error');
          this.newMessages =  {} as channelMessage[];
          return onerror;
        }
        const content = await messages.json();
        if (content.error) {
          // for error
          // console.log('error from messagesChannel code :' + this.messagesList.error);
          this.newMessages =  {} as channelMessage[];
          return onerror;
        }
        this.newMessages = content;
        if (this.newMessages.length < 1)
          this.newMessages =  {} as channelMessage[];
      } catch (error) {
        // for error
        // console.log('error: impossible to get the channel messages');
        this.newMessages =  {} as channelMessage[];
        return onerror;
      }
    },
    /**
     * allow to scroll to the last message send
     */
    scrollToBottom() {
      const element: HTMLDivElement = this.$refs.doudou as HTMLDivElement;
      if (element)
        element.scrollIntoView();
    },
    /**
     * add new messages to the list
     */
    addNewMessages() {
      if (this.messagesList.length > 0 && this.newMessages.length > 0) {
        this.newMessages.forEach((message: channelMessage) => {
          const existsInA = this.messagesList.some((row: channelMessage) => row.id === message.id);
          if (!existsInA) {
            this.messagesList.push(message);
          }
        });
      } else if (this.newMessages.length > 0 && !(this.messagesList.length > 0))
        this.messagesList = this.newMessages;
    },
  },
});
</script>

<style lang="scss" scoped>

.messagesChannel {
  margin: 5px;
  padding: 5px;
  height: 89%;
  width: 99%;
  max-width: 99%;
  border-radius: 5px;
  background-color: #2d2d33;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.img-messagesChannel {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.messagesLoopChannel {
  justify-content: space-between;
  width: initial;
}

.message-rightChannel {
  color: white;
  display: flex;
  justify-content: right;
  background-color: cornflowerblue;
  flex-direction: row;
  padding: 5px;
  max-width: 70%;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
  right: 0;
  float: right;
}

.userProfileChannel {
  color: #333333;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
}

.message-leftChannel {
  color: white;
  display: flex;
  justify-content: left;
  flex-direction: row;
  background-color: darkgray;
  padding: 5px;
  max-width: 70%;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
  left: 0;
  float: left;
}

.userNameChannel {
  margin-right: 5px;
}

.message-contentChannel {
  word-wrap: break-word;
  word-break: break-all;
  margin-right: 5px;
  user-select: text;
}

.goToBottomButton {
  position: fixed;
  bottom: 10%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.goToBottomButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

</style>