<template>
  <div class="privDiscuss">
    <div class="bloc-private" style="background-color: black">
      <div style="overflow: hidden;">private discuss</div>
      <div @click="newDiscuss" class="newDiscuss">+</div>
    </div>
    <div class="privOver">
      <div v-for="user in usersList" :key="user.id" class="bloc-private" @click="getDiscussion(user.login)">
        <div class="name-private">
          {{user.username}}
        </div>
        <a :href="'/user/' + user.login">
          <img :src="user.avatar_file" class="imgList"/>
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import socket from "@/service/socket";

interface User {
  avatar_file: string;
  id: number;
  login: string;
  username: string;
  using_2fa: boolean;
}

export default defineComponent({
  name: "privDiscussList-vue",

  props: {userLogin: String},
  data() {
    return {
      usersList: [] as User[],
    };
  },
  async created() {
    await this.getList();
  },
  mounted() {
    if (!(typeof this.userLogin === 'string'))
      return;
    const login: string = this.userLogin;
    socket.socket?.on(login, async (data) => {
      for (const user of this.usersList) {
        if (user.login === data.login)
          return;
      }
      this.$notify({
        title: "New Private Discussion",
        text: 'There is a new message from ' + data.username,
        type: 'info',
      });
      await this.getList();
    })
  },
  unmounted() {
    // Deinitialize socket event
    if (!(typeof this.userLogin === 'string'))
      return;
    const login: string = this.userLogin;
    socket.socket?.off(login);
  },
  methods: {
    /**
     * get the private discussion list
     */
    async getList() {
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/privMsg/discussionList';
      try {
        const users = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!users.ok) {
          // for error
          // console.log('error from privDiscussionList code :' + users.status);
          this.$notify({
            title: "Private Discussion",
            text: 'Dont be shy, send a new message to a friend',
            type: 'info',
          })
          this.usersList = [] as User[];
          return onerror;
        }
        const content = await users.json();
        if (content.error) {
          // for error
          // console.log('error from privDiscussionList code :' + this.usersList.error);
          this.usersList = [] as User[];
          return onerror;
        }
        this.usersList = content;
      } catch (error) {
        // for error
        // console.log('error: impossible to get the private discussion list');
        this.usersList = []  as User[];
        return onerror;
      }
    },
    /**
     * get the discussion with a specific user (discussion already created)
     */
    getDiscussion(login: string) {
      this.$emit('login', login);
    },
    /**
     * open the new discussion window
     */
    newDiscuss() {
      this.$emit('newPrivate', 'private');
    },
  }
});

</script>

<style lang="scss" scoped>

.privDiscuss {
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.bloc-private {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: darkgray;
  padding: 4px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top : 5px;
  margin-bottom: 5px;
}

.name-private {
  max-width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type {
  max-width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imgList {
  align-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.newDiscuss {
  height: 100%;
  width: auto;
  margin-right: 5px;
  margin-left: 5px;
  &:hover {
    cursor: pointer;
  }
}

.privOver {
  overflow: auto;
}

</style>