<template>
  <div class="content" v-if="userLogin">
    <chat-list-vue :userLogin="userLogin" @login="getLogin" @channelName="getChannel" @newDiscussion="renderNew" @settings="channelsSettings" :key="refreshList"/>
    <div v-if="newType === 'private'">
      <new-private-vue :userLogin="userLogin" @error="renderNew" @login="getLogin"/>
    </div>
    <div v-else-if="newType === 'channel'">
      <new-channel-vue :userLogin="userLogin" @error="renderNew" @channel="getChannel" :key="refreshSettings"/>
    </div>
    <div v-if="settingsChannel">
      <channels-settings-vue :userLogin="userLogin" :channel="settingName" @error="reRenderAll" :key="refreshSettings"/>
    </div>
    <div v-if="type === 'private' && loginDiscuss" class="discuss">
      <messages-vue :userLogin="userLogin" :chat-with="loginDiscuss" :key="refreshKey"/>
      <input-discuss-vue :userLogin="userLogin" :chat-with="loginDiscuss" @message="forceRerender" :key="refreshKey"/>
    </div>
    <div v-else-if="type === 'channel' && channelName" class="discuss">
      <messages-channel-vue :userLogin="userLogin" :channel-name="channelName" :key="refreshKeyChannel" @error="reRenderAll"/>
      <input-discuss-channel-vue :userLogin="userLogin" :channel-name="channelName" @message="forceRerenderChannel" :key="refreshKeyChannel"/>
    </div>
    <div v-else style="color: white; text-align: center; padding: 5px" class="discuss">
      select a channel or a private discussion
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import store from '@/store';
import ChatListVue from "@/components/chat/chatList.vue";
import MessagesVue from "@/components/chat/messages.vue";
import InputDiscussVue from "@/components/chat/inputDiscuss.vue";
import MessagesChannelVue from "@/components/chat/messagesChannel.vue";
import InputDiscussChannelVue from "@/components/chat/inputDiscussChannel.vue";
import NewPrivateVue from "@/components/chat/newdiscussion/newPrivate.vue";
import NewChannelVue from "@/components/chat/newdiscussion/newchannel.vue";
import ChannelsSettingsVue from "@/components/chat/channelsSettings.vue";
import socket from "@/service/socket";

export default defineComponent({
  name: "Chat-view",
  components: {
    ChannelsSettingsVue,
    NewChannelVue,
    NewPrivateVue, InputDiscussChannelVue, MessagesChannelVue, InputDiscussVue, MessagesVue, ChatListVue},

  data() {
    return {
      userLogin: '',
      type: '',
      loginDiscuss: '',
      channelName: '',
      newType: '',
      settingName: '',
      settingsChannel: false,
      refreshKey: 0,
      refreshKeyChannel: 0,
      refreshList: 0,
      refreshSettings: 0,
      store: store,
      parentLoaded: false
    };
  },mounted() {
    socket.socket?.on(' REFRESH ', async (data) => {
      if (!this.userLogin)
        return;
      if (data.action === 'new') {
        if (this.settingsChannel && this.settingName === data.channelName)
          this.refreshSettings += 1;
        else if (data.to !== this.userLogin)
          this.refreshList += 1;
      } else if (data.to !== this.userLogin && data.action !== 'leave')
        return;
      if (data.to !== this.userLogin && data.action === 'leave') {
        if (this.channelName === data.channelName && this.settingsChannel)
          this.refreshSettings += 1;
        this.$notify({
          title: "RIP",
          text: data.to + ' We love you,' + 'your friends from #' + data.channelName,
          type: 'info',
        });
      } else if (data.action === 'leave')
        this.reRenderAll('out');
      if (data.channelName === this.channelName
          && this.settingsChannel && (data.action  === 'demote' || data.action === 'promote'))
        this.refreshSettings += 1;
      else if ((data.action === 'kick' || data.action === 'ban')) {
        if (this.channelName === data.channelName) {
          this.reRenderAll('out');
          this.refreshList += 1;
        }
        this.$notify({
          title: "HO HO",
          text: 'Worst moment of your life, the tribe of ' + data.channelName
                + ' has decided to ' + data.action + ' you',
          type: 'info',
        });
      }
      else if (data.action === 'invite') {
        if (this.newType === 'channel')
          this.refreshSettings += 1;
        else {
          this.$notify({
            title: "New Invitation",
            text: 'Great moment in your career, please join #' + data.channelName,
            type: 'info',
          });
        }
      }
      else if (data.action === 'mute') {
        this.$notify({
          title: "No more sound",
          text: 'It seems that someone is triggered with your voice from #' + data.channelName,
          type: 'info',
        });
      }
    })
    this.getCookieLogin();
  },
  unmounted() {
    // Deinitialize socket event
    socket.socket?.off(' REFRESH ');
  },
  methods: {
    /**
     * get the user login and rerender the message end input components
     */
    getLogin(login: string) {
      this.loginDiscuss = login;
      this.type = 'private';
      this.forceRerender('ok');
      this.forceRerenderList();
    },
    /**
     * rerender the private discuss part
     */
    forceRerender(message: string) {
      if (message === 'ok')
        this.refreshKey += 1;
      this.newType = '';
      this.settingsChannel = false;
      this.settingName = '';
    },
    /**
     * get the channel name and rerender the message end input components
     */
    getChannel(channel: string) {
      this.channelName = channel;
      this.type = 'channel';
      this.forceRerenderChannel('ok');
      this.forceRerenderList();
    },
    /**
     * rerender the channel discussion part
     */
    forceRerenderChannel(message: string) {
      if (message === 'ok')
        this.refreshKeyChannel += 1;
      this.newType = '';
      this.settingsChannel = false;
      this.settingName = '';
    },
    /**
     * rerender the list (channel and users)
     */
    forceRerenderList() {
      this.refreshList += 1;
      this.newType = '';
      this.settingsChannel = false;
      this.settingName = '';
    },
    /**
     * close window
     */
    renderNew(type: string) {
      if (type === 'out')
        this.newType = '';
      else
        this.newType = type;
      this.settingsChannel = false;
      this.settingName = '';
    },
    /**
     * open the channel settings part
     */
    channelsSettings(channelName: string) {
      this.getChannel(channelName);
      this.refreshSettings += 1;
      this.settingsChannel = true;
      this.settingName = channelName;
    },
    /**
     * rerender a major part of components according to the status
     */
    reRenderAll(status: string) {
      if (status === 'leave') {
        this.channelName = '';
        this.newType = '';
        this.type = '';
        this.settingsChannel = false;
        this.refreshList += 1;
        this.refreshSettings += 1;
         return ;
      }
      if (status === 'refresh') {
        this.newType = '';
        this.refreshList += 1;
        this.settingsChannel = false;
        this.refreshSettings += 1;
        this.refreshKeyChannel += 1;
        return;
      }
      this.channelName = '';
      this.newType = '';
      this.refreshList += 1;
      this.settingsChannel = false;
      this.refreshSettings += 1;
    },

    /**
     * get user login from the cookie
     */
    async getCookieLogin() {
      this.userLogin = '';
      const requestUrl = 'http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/getLogin';
      try {
        const response = await fetch(requestUrl, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
          credentials: 'include',
        });

        if (!response.ok) {
          // for error
          // console.log('error from chat code :' + response.status);
          return onerror;
        }
        const content = await response.json();
        if (content.error) {
          // for error
          // console.log('error from chat code :' + content.error);
          return onerror;
        }
        if (content.login)
          this.userLogin = content.login;
      } catch (error) {
        // for error
        //  console.log(error);
        // console.log('error: impossible to get the user login from cookie');
        return onerror;
      }
    },
  }
});
</script>

<style lang="scss" scoped>

.content {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: calc(100% - 70px);
  margin-top: 70px;
  width: 100%;
  background-color: black;
}

.discuss {
  height: 100%;
  width: 85%;
}

</style>
