<template>
  <UserProfile v-if="parentLoaded" :userLogin="userLogin" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import store from '@/store';
import UserProfile from './UserProfile.vue';
import socket from '@/service/socket';

export default defineComponent({
  name: "Home-view",
  components: { UserProfile },

  data() {
    return {
      isactive: false,
      isUsing2fa: false,
      store: store,
      avatarFile: '',
      userLogin: '',
      username: '',
      parentLoaded: false
    };
  },
  async created() {
    try {
      const response = await fetch('http://' + process.env.VUE_APP_IP_HOST + ':' + process.env.VUE_APP_BACK_PORT + '/api/user', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json'
        },
        credentials: 'include',
      });
      if (response.ok) {
        const content = await response.json();
        this.username = content.username;
        this.isUsing2fa = content.using_2fa;
        this.avatarFile = content.avatar_file;
        this.userLogin = content.login;

        await store.dispatch('setAuth', true);
        await store.dispatch('setLogin', content.login);
        await store.dispatch('setAvatar', content.avatar_file);
        await store.dispatch('setId', content.id);
        this.parentLoaded = true;
      } else {
        this.$router.push('/');
      }
    } catch (error) {
      this.$router.push('/');
    }
  },
  unmounted() {
    socket.disconnect()
  },
});
</script>

<style lang="scss">
.profile-page {
  width: 100%;
  height: 100%;
}

.top-panel {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

img.profile-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

h1.name {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

h1.login {
  font-size: 18px;
  color: #666;
}

h1.using2fa {
  font-size: 18px;
  color: seagreen;
}
</style>