<template>
  <div class="login-page">
    <ButtonConnect v-if="!isIntraLogged" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ButtonConnect from "@/components/ButtonConnect.vue";

export default defineComponent({
  name: "LoginVue",
  components: { ButtonConnect },
});
</script>

<style scoped>
.login-page {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
