<template>
  <div class="margin-nav"></div>
    <NotFound v-if="!profileIsFound" />
    <div v-else>
            <UserInfo :userLogin="userLogin" @profileNotFound="profileNotFound" @usernameChanged="usernameChanged" />
      <div class="profile-body">
        <Friend :login="userLogin" :auth="true" />
        <GameHistory :login="userLogin" :auth="true" />
      </div>
    </div>
</template>
  
<script lang="ts">
import { defineComponent, nextTick } from 'vue';
import Friend from "@/components/Friends.vue";
import UserInfo from '@/components/UserInfo.vue';
import NotFound from '@/components/NotFound.vue';
import GameHistory from '@/components/game/GameHistory.vue';

export default defineComponent({
    name: "Home-view",
    components: { Friend, UserInfo, NotFound, GameHistory},
    props: {
        userLogin: String
    },
    data() {
        return {
            renderGames: false,
            profileIsFound: true
        };
    },
    created() {
      this.renderGames = true;
    },
    methods: {
        profileNotFound() {
            this.profileIsFound = false;
        },
        async usernameChanged() {
            // Here, we'll remove MyComponent
            this.renderGames = false;

            // Then, wait for the change to get flushed to the DOM
            await nextTick();

            // Add MyComponent back in
            this.renderGames = true;
        }
    }
});
</script>
  
<style lang="scss" scoped>
.title {
    // Text formatting
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000000;

    // Box formatting
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px 10px 0px -3px, #f1f1f1 10px 10px;
    width: 500px;

    // CENTER
    // -> text
    text-align: center;
    // -> box horizontally
    margin-left: auto;
    margin-right: auto;
    // -> box vertically
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
}

.profile-page {
    width: 100%;
    height: 100%;
}

.top-panel {
    background-color: #f1f1f1;
    margin: 10px;
    text-align: center;
}

img.profile-avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

h1.name {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

h1.login {
    font-size: 18px;
    color: #666;
}

h1.using2fa {
    font-size: 18px;
    color: seagreen;
}

.margin-nav {
  width: 100vw;
  height: 80px;
}

.profile-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
</style>